.zhengwen a img{width:100%;}
.ma{margin:auto;}
.cite {font-style:inherit}
.p-25{padding:25px;}
.br5{border-radius:5px}
.tid-1{text-indent:1em}
.tid-2{text-indent:2em}

.bsb{box-sizing: border-box;}
.bsc{box-sizing:content-box;}
.vat{vertical-align:top}
.bgwht{background-color:#FFFFFF}
.bghui{background-color:#f4f4f4}

.bghei{background-color:#000}
.bgcr{background-color:red;}
.bgred{background-color:red;}
.poa{position:absolute;}
.por{position:relative;}
.ovfh{overflow: hidden;}
.dib{display:inline-block;}
.db{display:block;}
.dn {display:none;}
.m0a{margin:0 auto; }
.mb-10{margin-bottom:10px;}
.mb-15{margin-bottom:15px;}
.mb-20{margin-bottom:20px;}
.ml-5 {margin-left: 5px;}
.ml-8 {margin-left: 8px;}
.ml-10 {margin-left: 10px}
.ml-16 {margin-left: 16px;}
.ml-20 {margin-left: 20px;}
.ml-30 {margin-left: 30px;}
.ml-50 {margin-left: 50px;}
.ml-80 {margin-left: 80px;}
.mt-5 {margin-top: 5px;}
.mt-8 {margin-top: 8px;}
.mt-10 {margin-top: 10px;}
.mt-15 {margin-top: 15px;}
.mt-16 {margin-top: 16px;}
.mt-20 {margin-top: 20px;}
.mt-25 {margin-top: 25px;}

.mt-50 {margin-top: 50px;}
.mr-5 {margin-right: 5px;}
.mr-10 {margin-right: 10px;}
.mr-20 {margin-right: 20px;}
.mr-30 {margin-right: 30px;}
.mtb-20 {margin: 20px 0;}
.pb-25{padding-bottom:25px;}
.pt-20{padding-top:20px}
.pl-20{padding-left:20px;}
.pl-25{padding-left:25px;}
.plr-20 {padding: 0 20px;}
.plr-30 {padding: 0 30px;}
.ptb-10 {padding: 10px 0;}
.ptb-15 {padding: 15px 0;}
.ptb-20 {padding: 20px 0;}
.ptb-30 {padding: 30px 0;}
.bcgrey{border-color:#fff}
.white{color:white}
.grey {color:grey}
.green {color: #00b371;}
.ofya{overflow-y: auto}
.orange {color: #ff7700;}
table  {border: 1px solid #0e84b5; border-spacing: 0 }
th,td{  border: 1px solid #0e84b5;  padding: 10px;text-align: center; border-spacing: 0}
/*th{position: fixed;top: 0;background: #692f6c;z-index: 3}*/
.dj{position: sticky;top:0;z-index: 0}
.ttt{top: -1px}
.red {color: red;}
.red2 {color: #ff5500;}
.fl {float: left;}
.fr {float: right;}
.w50{width:50%;}
.w100{width:100%;}
.h100{height:100%;}
.h80{height:80%;}
.w-25 {width:25px;}
.w-79 {width: 79px;}
.w-92 {width: 92px;}
.w-100{width:100px}
.w-126 {width: 126px;}
.w-130 {width: 130px;}
.w-150 {width: 150px;}
.w-110 {width: 110px;}
.w-120 {width: 120px;}
.w-202 {width: 202px;}
.w-218 {width: 218px;}
.w-220 {width: 220px;}
.w-230 {width:230px;}
.w-238 {width: 238px;}
.w-240 {width: 240px;}
.w-242 {width: 242px;}
.w-250 {width: 250px;}
.w-258 {width: 258px;}
.w-260 {width: 260px;}
.w-278 {width: 278px;}
.w-280 {width: 280px;}
.w-299 {width: 299px;}
.w-300 {width: 300px;}
.w-308 {width: 308px;}
.w-335 {width: 335px;}
.w-350 {width:350px;}
.w-370 {width: 370px;}
.w-380 {width: 380px;}
.w-400 {width: 400px;}
.w-410 {width: 410px;}
.w-430 {width: 430px;}
.w-530 {width:530px;}
.w-600 {width: 600px;}
.w-610 {width: 610px;}
.w-640 {width: 640px;}
.w-690 {width: 690px;}
.w-780 {width: 780px;}
.w-800 {width: 800px;}
.w-860 {width:860px;}
.w-870 {width: 870px;}
.w-880 {width: 880px;}
.w-900 {width: 900px;}
.w-930{width:930px;}
.w-1200{width:1200px;}
.w-1920{width:1920px;}
.h-25 {height:25px;}
.h-35 {height:35px;}
.lh-15 {line-height:15px;}
.lh-16 {line-height:16px;}
.lh-17 {line-height:17px;}
.lh-18 {line-height:18px;}
.lh--16 {line-height:1.6em;}
.lh-25 {line-height:25px;}
.lh-35 {line-height:35px;}
.h-40 {height: 40px;}
.h-45 {height: 45px;}
.h-60 {height: 60px;}
.h-67 {height: 67px;}
.h-70 {height: 70px;}
.h-80 {height: 80px;}
.lh-135 {line-height: 135px;}
.h-135 {height: 135px;}
.h-160 {height: 160px;}
.h-180 {height: 180px;}
.h-200 {height: 200px;}
.h-240 {height: 240px;}
.h-280 {height: 280px;}
.w-1160 {width: 1160px;}
.h-374 {height: 374px;}
.h-380 {height: 380px;}
.h-400 {height: 400px;}
.h-450 {height:450px}
.h-462 {height:462px}
.h-1140{height:1140px;}
.h-50 {height: 50px;}
.h-597 {height: 597px;}
.h-362 {height: 362px;}
.col-3 {color: #333;}
.col-3 a {color: #333;}
.col-9 {color: #999}
.clearfix:after{ content:" "; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { zoom:1; }
.cl {clear: both;height: 0px;}
.line{    width: 100%;    height: 1px;}


.demo1 {
    position: relative;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}
.demo1::after {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 20px 0 10px;
}





.tlll{text-align:left}


.o5{opacity:0.5}
.o7{opacity:0.7}
.fs{flex-shrink:0 ;}
.fw{flex-wrap: wrap;}
.f1{flex: 1;}
.wsn{white-space: nowrap;}
.wsw{white-space: normal;}
.table1{overflow-y: scroll; }
/*.table1 td:nth-child(1) {background: #888888}*/
.w90{width: 90%;}
.w99{width: 99%;}
.h99{height: 99%;}
.ovfh{overflow: hidden;}
.ovsc{overflow: scroll;}
.clear{clear: both;}
.fr{float: right;}
.fl{float: left;}
.i3{inset: 3px;}
.y{flex-direction:column;}
.bgreen{border: 1px solid rgb(23, 199, 0);}
.brbai{border: 1px solid rgb(255, 255, 255);}
.br{border: 1px solid rgb(233, 233, 233);}
.brhei{border: 1px solid rgb(0, 0, 0);}
.brhui{border: 2px solid rgb(110, 110, 110);}
.brhui2{border: 2px solid #dddddd;}
.brblue{border: 1px solid rgb(17, 0, 255);}
.brr{border: 2px solid red;}
.bt{border-top: 2px dashed ;}
.bd2{border:5px solid rgb(219, 218, 218)}
.bd2-0{border:5px solid rgb(250, 249, 249)}
.bb{border-bottom:1px solid rgb(231, 231, 231);}
.bb2{border-bottom:2px solid rgb(201, 201, 201);}
.bb1{border-bottom:2px dotted rgb(201, 201, 201);}
.bl1{border-left:2px dotted rgb(201, 201, 201);}
.bt1{border-top:2px dotted rgb(201, 201, 201);}
.br1{border-right:1px dotted rgb(201, 201, 201);}
.bo{border: 3px solid #FA6400;}
.bl{border: 3px solid #00b150;}
.jcc{justify-content: center;}
.jcsb{justify-content: space-between;}
.jcsa{justify-content: space-around;}
.jcss{justify-content: space-evenly;}
.ma{margin:auto;}
.m0a{margin:0 auto;}
.ma0{margin:auto 0;}
.m20a{margin: 20px auto;}
.m40a{margin: 40px auto;}
.auto{margin: auto;}
.aic{align-items:center;}
.tac{text-align: center;}
.db{display: block;}
.dn{display: none;}
.di{display:inline}
.df{display: flex;}

.fg1{flex-grow: 1 }
.dib{display:inline-block}
.br50{border-radius:50%;}
.br-0{border-radius: 0px;}
.br-5{border-radius: 5px;}
.br-10{border-radius: 10px;}
.br-20{border-radius: 20px;}
.br-25{border-radius: 25px;}
.br-30{border-radius: 30px;}
.br-40{border-radius: 40px;}
.br-50{border-radius: 50px;}
.br-80{border-radius: 80px;}
/* .y{ justify-content:column;} */
.p20{padding:20px;}
.p1020{padding:10px 20px;}
.p3020{padding: 30px 20px;}
.m3020{margin: 30px 20px;}
.m-20{margin: 20px;}
.m520{margin: 5px 20px;}
.mt-5{margin-top: 5px;}
.mt-8{margin-top: 8px;}



.mt-30{margin-top: 30px;}
.mt-35{margin-top: 35px;}
.mt-40{margin-top: 40px;}
.mt-60{margin-top: 60px;}
.ml-80{margin-left: 80px;}
.ml-130{margin-left: 130px;}
.mt-80{margin-top: 80px;}
.mt-90{margin-top: 90px;}
.mt-99{margin-top: 99px;}
.mt-100{margin-top: 140px;}
.mt-180{margin-top: 180px;}
.ml-170{margin-left: 170px;}
.ml-5{margin-left: 5px;}
.ml-10{margin-left: 10px;}
.ml-15{margin-left: 15px;}
.ml-20{margin-left: 20px;}
.ml-25{margin-left: 25px;}
.ml-30{margin-left: 30px;}
.ml-35{margin-left: 35px;}
.ml-40{margin-left: 40px;}
.ml-50{margin-left: 50px;}
.ml-80{margin-left: 80px;}
.mr-5{margin-right: 5px;}
.mr-10{margin-right: 10px;}
.mr-15{margin-right: 15px;}
.mr-20{margin-right: 20px;}
.mr-30{margin-right: 30px;}
.mr-40{margin-right: 40px;}
.mr-50{margin-right: 50px;}
.mr-60{margin-right: 60px;}


.mr-80{margin-right: 80px;}
.mb-10{margin-bottom:10px;}
.mb-20{margin-bottom:20px;}
.mb-30{margin-bottom:30px;}
.mb-40{margin-bottom:40px;}
.vab{vertical-align: bottom; }
.vam{vertical-align: middle; }
.bghui0{background-color:#F6F6F6;}     
.bgdark{background-color:#F7F7F7;}
.bghui2{background-color:#d3d3d3;}
.bghui3{background-color:#e4e4e4;}
.bghui4{background-color:hsl(0, 0%, 97%);}
.bghui6{background-color: rgba(71, 70, 67, 0.8);}
.bghui{background-color: rgb(214, 214, 214);}
.bgred{background-color: red;}
.bgbai{background-color: white;}
.bghei{background-color: rgb(0, 0, 0);}
.bgju{background-color:rgb(255, 145, 0);}
.bgju4{background-color:rgb(255, 145, 0,0.5);}
.bgju3{background-color:rgb(255, 145, 0,0.1);}
.bgju2{background-color:rgb(255, 145, 0,0.3);}
.bgju1{background-color:rgb(241, 155, 42);}
.bgqing{background-color: #EAF4F0;}
.green {color: rgb(23, 199, 0);}
.black {color: rgb(0, 0, 0);}
.bghuang{background-color:rgb(238, 255, 0) ;}
.bggreen{background-color:rgb(23, 199, 0) ;}
.bggreen1{background-color:rgba(54, 185, 37, 0.979) ;}
.bggreen2{background-color:rgba(24, 153, 7) ;}
.chadiao{width: 30px; height: 30px; border-radius: 30px;border: white 1px solid;line-height: 30px;text-align: center;position: absolute;}
.bgblue{background-color:rgb(88, 228, 186) ;}
.ff1{font-family:cursive}
.bgblue03{background-color:rgb(88, 228, 186,0.1) ;}
.bgblue04{background-color:rgb(88, 228, 186,0.3) ;}
.bgblue05{background-color:rgb(88, 228, 186,0.5) ;}
.bgblue06{background-color:rgba(0, 247, 255, 0.5) ;}
.bgblue07{background-color:rgb(88, 228, 186,1) ;}
.bgblue9{background-color:#2E6AB1 ;}
.bgz{background-color:#692f6c ;}

.gainsboro{color: gainsboro;}
.hei{color: black;}
.orange{color: #FA6400;}
.blue{color: rgb(0, 16, 245);}
.blue1{color: rgb(25, 28, 189);}
.white{color: whitesmoke;}
.yellow{color: rgb(255, 230, 7); }
.yellow1{color:rgb(168, 126, 11); }
.bai{color: white;}
.qianhui{color: rgb(201, 201, 201);}
.gray{color: gray;}
.gray2{color: #5a5a5a;}
.red{color: rgb(255, 0, 0);}
.blue2{color: rgb(34, 32, 168);}
.h33{height: 33%;}
.h50{height: 50%;}
.h100{height: 100%;}
.p1020{padding: 10px 20px;}
.p-3{padding: 3px;}
.pt-10{padding-top: 10px;}
.pt-20{padding-top: 20px;}
.pt-30{padding-top: 30px;}
.pt-40{padding-top: 40px;}
.pl-10{padding-left: 10px;}
.pr-10{padding-right: 10px;}
.pl-20{padding-left: 20px;}
.pr-20{padding-right: 20px;}
.pl-30{padding-left: 30px;}
.pr-30{padding-right:30px;}
.pl-60{padding-left: 60px;}
.pb-10{padding-bottom: 10px;}
.pb-20{padding-bottom: 20px;}
.pb-30{padding-bottom: 30px;}
.pb-40{padding-bottom: 40px;}
.pb-60{padding-bottom: 60px;}
.pb-50{padding-bottom: 50px;}
.t0{top: 0;}
.t10{top: 10px;}
.t20{top: 20px;}
.t30{top: 30px;}
.l0{left: 0;}
.b0{bottom: 0;}
.r0{right: 0;}
.r10{right: 10px;}
.r20{right: 20px;}
.r30{right: 30px;}
.w20{width: 20%;}
.w-20{width: 20px;}
.w-16{width: 16px;}
.w-32{width: 32px;}
.w-40{width: 40px;}
.w-48{width: 48px;}
.w-50{width: 50px;}
.w-60{width: 60px;}
.w-64{width: 64px;}
.w-75{width: 75px;}
.w-80{width: 80px;}
.w-96{width: 90px;}
.w100{width:100%;}
.w200{width:200%;}
.w25{width:25%;}
.w30{width:30%;}
.w33{width:33%;}
.w45{width:45%;}
.w40{width:40%;}
.w50{width:50%;}
.w55{width:55%;}
.w-100{width: 100px;}
.w-110{width: 110px;}
.w-112{width: 112px;}
.w-115{width: 115px;}
.w-120{width: 120px;}
.w-125{width: 125px;}
.w-128{width: 128px;}
.w-130{width: 130px;}
.w-144{width: 144px;}
.w-150{width: 150px;}
.w-160{width: 160px;}
.w-180{width: 180px;}
.w-190{width: 190px;}
.w-200{width: 200px;}
.w-230{width: 230px;}
.w-240{width: 240px;}
.w-250{width: 250px;}
.w-280{width: 280px;}
.w-290{width: 290px;}
.w-300{width: 300px;}
.w-320{width: 320px;}
.w-340{width: 340px;}
.w-350{width: 350px;}
.w-360{width: 360px;}
.w-390{width: 390px;}
.w-400{width: 400px;}
.w-430{width: 430px;}
.w-450{width: 450px;}
.w-460{width: 460px;}
.w-470{width: 465px;}
.w-480{width: 480px;}
.w-500{width: 500px;}
.w-550{width: 550px;}
.w-600{width: 600px;}
.w-680{width: 680px;}
.w-700{width: 700px;}
.w-750{width: 750px;}
.h-1{height: 1px;}
.h-10{height: 10px;}
.h-15{height: 15px;}
.h-20{height: 20px;}
.h-30{height: 30px;}
.h-35{height: 35px;}
.lh-35{line-height: 35px;}
.h-40{height: 40px;}
.h-48{height: 48px;}
.lh-48{line-height: 48px;}
.lh-40{line-height: 40px;}
.h-50{height: 50px;}

.h-64{height: 64px;}
.h-70{height: 70px;}
.lh-70{line-height: 70px;}
.h-76{height: 76px;}
.h-80{height: 80px;}
.h-90{height: 90px;}
.lh-90{line-height: 90px;}
.h-180{height: 180px;}
.h-206{height: 206px;}
.lh-30{line-height: 30px;}
.lh-50{line-height: 50px;}
.lh-60{line-height: 60px;}
.lh-80{line-height: 80px;}

.h-100{height: 100px;}
.lh-100{line-height: 100px;}
.h-110{height: 110px;}
.h-120{height: 120px;}
.h-150{height: 150px;}
.h-160{height: 160px;}
.h-200{height: 200px;}
.h-220{height: 220px;}
.h-240{height: 240px;}
.h-274{height: 234px;}
.h-300{height: 300px;}
.h-350{height: 350px;}
.h-352{height: 352px;}
.h-360{height: 360px;}
.h-362{height: 362px;}
.h-364{height: 364px;}
.h-400{height: 400px;}
.h-420{height: 420px;}
.h-440{height: 440px;}
.h-460{height: 460px;}
.h-500{height: 500px;}
.h-520{height: 520px;}
.h-600{height: 600px;}
.h-610{height: 610px;}
.h-620{height: 620px;}
.h-630{height: 630px;}
.h-700{height: 700px;}
.h-800{height: 800px;}
.h-900{height: 900px;}
.h-1000{height: 1000px;}
.lh-1000{line-height: 1000px;}
.h-1200{height: 1200px;}
.h-11000{height: 11000px;}
.fs20{font-size: 20px;}
.fs22{font-size: 22px;}
.fs24{font-size: 24px;}
.fs25{font-size: 25px;}
.fs26{font-size: 26px;}
.fs30{font-size: 30px;}
.fs35{font-size: 35px;}
.fs40{font-size: 40px;}
.fs50{font-size: 50px;}
.fs70{font-size: 70px;}
.fs80{font-size: 80px;}
.fs90{font-size: 90px;}
.fs100{font-size: 100px;}
.fw-400{font-weight: 400;}
.fw-600{font-weight: 600;}
.fw-800{font-weight:800}
.abs{position: absolute;}
.rel{position: relative;}

.bsb{box-sizing: border-box;}
.bsc{box-sizing: content-box;}
.ti-3{text-indent:3em;}
.ti-2{text-indent:2em;}
.ti-1{text-indent:1em;}
.ti-10{text-indent:10px;}
.ti-20{text-indent:20px;}
.ti-30{text-indent:30px;}
.ti-40{text-indent:40px;}
.z2{z-index: 2;}
.z999{z-index: 999;}
.fixed{position: fixed;}



.j-right {
    width: 8px;
    height: 8px;
    border: solid;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
}
.xz90{
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg)
}
.line1{border:2px solid ; border-radius: 10px }
.line2{border:1px solid whitesmoke;width: 50px;transition: border-color 0.3s;}

.blue9{color:#00a0e9 }
.blue8{color:#0e84b5 }
.bgblue8{background-color:#0e84b5 }
.qs .pt-10{display: none}

.bsaa {
    box-shadow: 0px -5px 10px 0px #dddddd,
    -6px 0px 6px 0px #dddddd,
    6px 0px 6px 0px #dddddd,
    0px 5px 19px 0px #dddddd;
}

.ofo{object-fit: fill;}
.sb{width: 100%;height: 100%;}
.stars5{background: url("../article/star.png") repeat-x;background-size: 15px 15px}
.message{background: url("../article/message.png") no-repeat 0 2px;background-size: 15px 15px}


.kepi{
    border-radius: 10px;
    overflow: hidden;

    clear: both;
}
.kepi > div{

    width: 263px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #2F71C8;
    transition:color 0.5s;
    transition:background-color 0.5s;
    float: left;
    text-decoration: none;

}
.kepi > div:hover{
    background-color: whitesmoke;

}
.kepi > div a{
    color: whitesmoke;
    background-color: whitesmoke;
}

.kepi > div a:hover{
    text-decoration: none;
    color:black;

}
.aic{align-items:center}
