.fb {
    height: 20px;
    width: 20px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
/*.fc{
    height: 20px;width: 50px;
}*/


/*.fb-apple{
    background:url(http://b.com/static/skin/default/26/02.png) no-repeat ;
    background-size: 50px 50px;
}*/
.fb-apple{
    background:url( ../26/02.png)
        no-repeat ;
    background-size: 20px 20px;
    height: 20px;
    background-position: center;
    border: #1AAD16 solid 1px;
}
.fb-ipad{
    background:url( ../26/03.png)
        no-repeat ;
    background-size: 20px 20px;
    height: 20px;
    background-position: center;
    border: #1AAD16 solid 1px;
}
.fb-watch{
    background:url( ../26/08.png)
    no-repeat ;
    background-size: 20px 20px;
    height: 20px;
    background-position: center;
    border: #1AAD16 solid 1px;
}
.fb-Xperia{
    width: 50px;
    height: 20px;
    background:url( ../26/04.png)
        no-repeat ;
    background-size: 50px 20px;
    background-position: center;
    border: #1AAD16 solid 1px;
}
.fb-sx{
    width: 50px;
    height: 20px;
    background:url( ../26/05.png)
        no-repeat ;
    background-position: center;
    background-size: 50px 20px;

    border: #1AAD16 solid 1px;
}
.fb-huawei{
    background:url( ../26/06.png)
        no-repeat ;
    background-position: center;
    background-size: 20px 20px;
    height: 20px;
    border: #1AAD16 solid 1px;
}
.fb-gg{
    background-position: center;
    background:url( ../26/07.png)
        no-repeat ;
    background-size: 20px 20px;
    height: 20px;
    border: #1AAD16 solid 1px;
}

.gzz li{
    list-style: disc inside  ;

    font-size:16px ;
    color: #5a5a5a;
    padding-top: 10px;
}