{template 'header'}
<div id="head-bar">
<div class="head-bar">
<div class="head-bar-back"><a href="{if $back_link}{$back_link}{else}javascript:Dback();" id="back-{$js_pageid}{/if}" data-direction="reverse"><img src="{DM_SKIN}icon-back{$wh}.png" width="24" height="24"/></a></div>
<div class="head-bar-title">{$head_name}</div>
<div class="head-bar-right"><a href="javascript:Dpop('{$js_pageid}');"><img src="{DM_SKIN}icon-sheet{$wh}.png" width="24" height="24"/></a></div>
</div>
<div class="head-bar-fix" id="load-fix-{$js_pageid}" style="height:0;"></div>
<div class="head-bar-fix" id="head-fix-{$js_pageid}"></div>
</div>

<div class="ui-pop" id="pop-{$js_pageid}">
<i></i>
<div>
<a href="{DT_MOB}api/search.php?mid={$moduleid}" data-transition="none">{$MOD[name]}搜索</a>
<a href="{DT_MOB}{rewrite('channel.php?mid='.$moduleid)}" data-transition="none">{$MOD[name]}分类</a>
<a href="{$MOD[mobile]}" data-direction="reverse">{$MOD[name]}首页</a>
<a href="{DT_MOB}channel.php" data-direction="reverse">切换频道</a>
</div>
</div>

<div class="ui-filter">
<a href="{$MOD[mobile]}search.php?elite=1&catid={$catid}&areaid={$areaid}"><i class="ui-filter-box ui-fr">推荐</i></a>
<i class="ui-filter-dsc on">综合</i>
<a href="{$MOD[mobile]}search.php?orderby=ddownload&catid={$catid}&areaid={$areaid}"><b>下载</b></a>
<a href="{$MOD[mobile]}search.php?orderby=dhits&catid={$catid}&areaid={$areaid}"><b>人气</b></a>
<a href="{$MOD[mobile]}search.php?orderby=dcomments&catid={$catid}&areaid={$areaid}"><b>评论</b></a>
</div>

<div id="list-{$js_pageid}" class="main">
{if $page == 1}{ad($moduleid,$catid,'',6)}{/if}
{if $tags}
{template 'list-'.$module, 'tag'}
{else}
{template 'empty', 'chip'}
{/if}
</div>
<div id="load-{$js_pageid}" class="ui-load"></div>
{if $pages}<div class="pages" id="pages-{$js_pageid}">{$pages}</div>{/if}
{template 'footer'}