{template 'header'}
<div id="head-bar">
<div class="head-bar">
<div class="head-bar-back"><a href="{if $back_link}{$back_link}{else}javascript:Dback();" id="back-{$js_pageid}{/if}" data-direction="reverse"><img src="{DM_SKIN}icon-back{$wh}.png" width="24" height="24"/></a></div>
<div class="head-bar-title"><input type="search" name="kw" value="{$kw}" placeholder="{$MOD[name]}搜索" readonly onclick="Go('{DT_MOB}api/search.php?mid={$moduleid}');"/></div>
<div class="head-bar-right"><a href="javascript:Dpop('{$js_pageid}');"><img src="{DM_SKIN}icon-sheet{$wh}.png" width="24" height="24"/></a></div>
</div>
<div class="head-bar-fix" id="load-fix-{$js_pageid}" style="height:0;"></div>
<div class="head-bar-fix" id="head-fix-{$js_pageid}"></div>
</div>
<div class="ui-viewer" id="viewer-{$js_pageid}"></div>

<div class="ui-pop" id="pop-{$js_pageid}">
<i></i>
<div>
<a href="{DT_MOB}api/share.php?mid={$moduleid}&itemid={$itemid}" data-transition="slideup">分享好友</a>
<a href="{$MOD[mobile]}" data-direction="reverse">{$MOD[name]}首页</a>
<a href="{DT_MOB}{rewrite('channel.php?mid='.$moduleid)}" data-transition="none">{$MOD[name]}分类</a>
<a href="{DT_MOB}channel.php" data-direction="reverse">切换频道</a>
</div>
</div>

<div class="title"><h1>{$title}</h1></div>
<div class="info"><i class="ui-ico-time">{$editdate}</i>{if $MOD[ip]}<i class="ui-ico-area">IP属地 {ip2area($ip, $MOD[ip])}</i>{/if}{if $MOD[hits]}<i class="ui-ico-hits" id="hits">{$hits}</i>{/if}<i class="ui-ico-down ui-fr">{$download}下载</i></div>
{if $MOD[show_user] && $username}{template 'userinfo', 'chip'}{/if}
<div class="content" data-content="{$js_pageid}">
	文件类型：{$FILETYPE[$fileext]}<br/>
	文件大小：{$filesize}{$unit}<br/>
	{$content}
</div>
{if $user_status == 3}
	<div class="blank-32"></div>
	{if $MIRROR}
	<div class="list-set">
	<ul>
		<li><div><a href="{$MOD[mobile]}down.php?itemid={$itemid}" class="b" rel="external">主站下载</a></div></li>
		{loop $MIRROR $k=>$v}
		<li><div><a href="{$MOD[mobile]}down.php?mirror={$k}&itemid={$itemid}" class="b" rel="external">{$v[name]}镜像</a></div></li>
		{/loop}
	</ul>
	</div>
	{else}
	<div class="list-btn"><a href="{$MOD[mobile]}down.php?itemid={$itemid}" rel="external"><div class="btn-green">点击下载</div></a></div>
	{if $pauth}
	<div class="blank-16"></div>
	<div class="list-btn"><a href="{DT_MOB}api/view.php?auth={$pauth}" rel="external"><div class="btn">在线预览</div></a></div>
	{/if}
	{/if}	
{else}
	<div id="down">{template 'content', 'chip'}</div>
{/if}
<div class="blank-32"></div>

{if $album}
{php $tags = albumlist($item);}
{if $tags[2] > 1}
<div class="album-list">
	<p><span>{$tags[1]}/{$tags[2]}</span><b>专辑：{$album}</b></p>
	<div>
	<ul>
	{loop $tags[0] $t}
	<a href="{$MOD[mobile]}{$t[linkurl]}" data-transition="none"><li{if $t[itemid]==$itemid} class="on"{/if}><i>{$t[filesize]}{$t[unit]}</i>{$t[title]}</li></a>
	{/loop}
	</ul>
	</div>
</div>
{/if}
{/if}

<div class="tool">
{if $MOD[show_like]}<div class="like" onclick="Dlike({$moduleid}, {$itemid}, 0);">点赞 <b id="like-{$moduleid}-{$itemid}-0">{$likes}</b></div>{/if}
{if $MOD[show_hate]}<div class="hate" onclick="Dhate({$moduleid}, {$itemid}, 0);">反对 <b id="hate-{$moduleid}-{$itemid}-0">{$hates}</b></div>{/if}
{if $MOD[show_report]}<div class="report" onclick="Dreport({$moduleid}, {$itemid}, 0);">举报</div>{/if}
{if $MOD[show_favorite]}<div class="favorite" onclick="Dfavor({$moduleid}, {$itemid});">收藏 <b>{$favorites}</b></div>{/if}
{if $MOD[fee_award]}<div class="award" onclick="Go('{$MODULE[2][mobile]}award.php?mid={$moduleid}&itemid={$itemid}');">打赏 <b>{$awards}</b></div>{/if}
{if $could_comment}<div class="comment" onclick="Go('{$EXT[comment_mob]}{rewrite('index.php?mid='.$moduleid.'&itemid='.$itemid)}');">评论 <b>{$comments}</b></div>{/if}
{if $MOD[show_share]}<div class="share" onclick="Go('{DT_MOB}api/share.php?mid={$moduleid}&itemid={$itemid}');">分享 <b>{$shares}</b></div>{/if}
</div>
<div id="list-{$js_pageid}" class="ui-main">
	<div class="blank-10"></div>
	{if $album}
	<!--{tag("moduleid=$moduleid&condition=status=3 and album='$album' and addtime>$addtime&order=addtime asc&pagesize=10&itemid=$itemid&template=list-down")}-->
	{elseif $username}
	<!--{tag("moduleid=$moduleid&condition=status=3 and username='$username' and addtime>$addtime&order=addtime asc&pagesize=10&itemid=$itemid&template=list-down")}-->
	{else}
	<!--{tag("moduleid=$moduleid&condition=status=3 and addtime>$addtime&catid=$catid&areaid=$cityid&order=addtime asc&pagesize=10&itemid=$itemid&template=list-down")}-->
	{/if}
</div>
{template 'footer'}