{template 'header'}
<div id="head-bar">
<div class="head-bar">
<div class="head-bar-back"><a href="{if $back_link}{$back_link}{else}javascript:Dback();" id="back-{$js_pageid}{/if}" data-direction="reverse"><img src="{DM_SKIN}icon-back{$wh}.png" width="24" height="24"/></a></div>
<div class="head-bar-title">主页待开通</div>
<div class="head-bar-right"><a href="{$MODULE[4][mobile]}"><img src="{DM_SKIN}icon-index{$wh}.png" width="24" height="24"/></a></div>
</div>
<div class="head-bar-fix" id="load-fix-{$js_pageid}" style="height:0;"></div>
<div class="head-bar-fix" id="head-fix-{$js_pageid}"></div>
</div>
<div style="background:#FFFFFF url('{DT_STATIC}image/msg-403.png') no-repeat center 0;background-size:256px 256px;">
	<div style="padding:256px 24px 1480px 24px;font-size:14px;">
		<center class="f_gray">{if $username == $_username}请{if $COM[edittime]}<a href="{$MODULE[2][mobile]}validate.php" class="b" data-ajax="false">认证资料</a>{else}<a href="{$MODULE[2][mobile]}edit.php?tab=2" class="b" data-ajax="false">完善资料</a>{/if}，激活您的主页{else}所属用户{if $COM[edittime]}资料认证{else}资料完善{/if}后自动开通，请稍后访问{/if}</center>
	</div>
</div>
{php $foot='';}
{template 'footer'}