<div style="padding-right:10px;">
<table cellpadding="6" cellspacing="1" width="100%">
<tr align="center">
<td width="100"><img src="{DM_SKIN}star5.png" width="80" height="16" alt=""/> </td>
<td><div class="stat_p"><div style="width:{$stat[pc5]};"></div></div></td>
<td class="stat_c" width="100">{$stat[pc5]}</td>
</tr>
<tr align="center">
<td><img src="{DM_SKIN}star4.png" width="80" height="16" alt=""/></td>
<td><div class="stat_p"><div style="width:{$stat[pc4]};"></div></div></td>
<td>{$stat[pc4]}</td>
</tr>
<tr align="center">
<td><img src="{DM_SKIN}star3.png" width="80" height="16" alt=""/></td>
<td><div class="stat_p"><div style="width:{$stat[pc3]};"></div></div></td>
<td>{$stat[pc3]}</td>
</tr>
<tr align="center">
<td><img src="{DM_SKIN}star2.png" width="80" height="16" alt=""/></td>
<td><div class="stat_p"><div style="width:{$stat[pc2]};"></div></div></td>
<td>{$stat[pc2]}</td>
</tr>
<tr align="center">
<td><img src="{DM_SKIN}star1.png" width="80" height="16" alt=""/></td>
<td><div class="stat_p"><div style="width:{$stat[pc1]};"></div></div></td>
<td>{$stat[pc1]}</td>
</tr>
</table>
</div>
<div class="comment-filter">
<label><input type="radio" name="selectstar" value="0" id="ss_0" {if $star==0} checked{/if} onclick="comment_filter();"/> <span {if $star==0} class="f_b"{/if}>全部({$items})</span></label>&nbsp;&nbsp;
<label><input type="radio" name="selectstar" value="5" id="ss_5" {if $star==5} checked{/if} onclick="comment_filter();"/> <span {if $star==5} class="f_b"{/if}>非常好({$stat[s5]})</span></label>&nbsp;&nbsp;
<label><input type="radio" name="selectstar" value="4" id="ss_4" {if $star==4} checked{/if} onclick="comment_filter();"/> <span {if $star==4} class="f_b"{/if}>好({$stat[s4]})</span></label>&nbsp;&nbsp;
<label><input type="radio" name="selectstar" value="3" id="ss_3" {if $star==3} checked{/if} onclick="comment_filter();"/> <span {if $star==3} class="f_b"{/if}>一般({$stat[s3]})</span></label>&nbsp;&nbsp;
<label><input type="radio" name="selectstar" value="2" id="ss_2" {if $star==2} checked{/if} onclick="comment_filter();"/> <span {if $star==2} class="f_b"{/if}>差({$stat[s2]})</span></label>&nbsp;&nbsp;
<label><input type="radio" name="selectstar" value="1" id="ss_1" {if $star==1} checked{/if} onclick="comment_filter();"/> <span {if $star==1} class="f_b"{/if}>非常差({$stat[s1]})</span></label>&nbsp;&nbsp;
<label><input type="checkbox" name="thumb" value="1" id="ss_t" {if $thumb} checked{/if} onclick="comment_filter();"/> 晒图</label>&nbsp;&nbsp;
<label><input type="checkbox" name="video" value="1" id="ss_v" {if $video} checked{/if} onclick="comment_filter();"/> 视频</label>&nbsp;&nbsp;
</div>
{if $lists}
{loop $lists $k $v}
<div class="list-user">
{if $v[buyer_hidden]}
<img src="{useravatar('')}" width="48" height="48" class="avatar"/>
{else}
<img src="{useravatar($v[buyer])}" width="48" height="48" class="avatar"/>
{/if}
<ul>
<li><span>{timetoread($v[addtime], 5)}</span><b>{if $v[buyer_hidden]}{hide_info($v[buyer])}{else}{$v[buyer]}{/if}</b></li>
<li><img src="{DM_SKIN}star{$v[seller_star]}.png" width="60" height="12" alt=""/></li>
</ul>
</div>
<div class="content px12" id="c_{$v[itemid]}">{if $v[seller_comment]}{nl2br($v[seller_comment])}{else}买家没有发表评价内容{/if}</div>
{if $v[thumbs] || $v[video]}
<div class="comment-r">
<ul id="thumbs-{$v[itemid]}">
{if $v[video]}<li><img src="{DT_STATIC}image/play.gif" onclick="comment_thumb_show({$v[itemid]}, this);" data-video="{$v[video]}"/></li>{/if}
{loop $v[thumbs] $t}
{if $t}<li><img src="{$t}" onclick="Dviewer(js_pageid, this.src, $('#thumbs-{$v[itemid]}'));"/></li>{/if}
{/loop}
</ul>
<p id="thumbshow-{$v[itemid]}" onclick="comment_thumb_next({$v[itemid]});"></p>
</div>
{/if}
{if $v[buyer_reply]}
<div class="comment-reply"><span>{timetoread($v[replytime], 5)}</span>商家回复：<br/> {nl2br($v[buyer_reply])}</div>
{/if}
{/loop}
{if $pages}<div class="pages" id="pages-{$js_pageid}">{$pages}</div>{/if}
{else}
<div class="list-empty">暂无评价</div>
{/if}