{template 'header', 'member'}
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab" id="action_code"><a href="?action=code"><span>邀请注册</span></a></td>
<td class="tab" id="action_record"><a href="?action=record"><span>注册记录</span></a></td>
</tr>
</table>
</div>
{if $action == 'record'}
<form action="?" id="search">
<input type="hidden" name="action" value="{$action}"/>
<div class="tt">
{$fields_select}&nbsp;
<input type="text" size="30" name="kw" value="{$kw}" title="关键词" placeholder="关键词"/>&nbsp;
{dcalendar('fromdate', $fromdate, '-', 1)} 至 {dcalendar('todate', $todate, '-', 1)}&nbsp;
<input type="submit" value=" 搜 索 " class="btn"/>&nbsp;
<input type="button" value=" 重 置 " class="btn" onclick="Go('?action={$action}');"/>
</div>
</form>
<div class="bd">
<table cellpadding="10" cellspacing="0" class="tb">
<tr>
<th width="60">头像</th>
<th width="160">会员</th>
<th width="160">昵称</th>
<th width="300">公司</th>
<th>签名</th>
<th width="130">注册时间</th>
</tr>
{loop $lists $k $v}
<tr align="center">
<td><a href="{userurl($v[username], 'file=space')}" target="_blank"><img src="{useravatar($v[username])}" width="48" height="48" class="avatar"/></a><i class="userinfo-v{$v[validate]}" title="{valid_name($v[validate])}"></i></td>
<td><a href="javascript:;" onclick="Dwidget('message.php?action=send&touser={$v[username]}', '发送信件');">{$v[username]}</a></td>
<td><a href="{userurl($v[username], 'file=space')}" target="_blank">{$v[passport]}</a></td>
<td align="left"><a href="{userurl($v[username])}" target="_blank">{$v[company]}</a></td>
<td align="left" class="f_gray">{if $v[sign]}{$v[sign]}{else}没有留下签名~~{/if}</td>
<td><a href="javascript:;" onclick="Dq('date',this.innerHTML);">{$v[regdate]}</a></td>
</tr>
{/loop}
</table>
<div class="pages">{$pages}</div>
<script type="text/javascript">s('invite');m('action_record');</script>
{else}
<table cellpadding="10" cellspacing="1" class="tb">
<tr>
<td class="tl">引导目标</td>
<td class="tr">
<label><input type="radio" name="goto" value="1" id="goto_1" onclick="mk(1);" checked/> 网站首页</label>&nbsp;&nbsp;&nbsp;&nbsp;
<label><input type="radio" name="goto" value="2" id="goto_2" onclick="mk(2);"/> 会员注册</label>&nbsp;&nbsp;&nbsp;&nbsp;
<label><input type="radio" name="goto" value="3" id="goto_3" onclick="mk(3);"/> 我的主页</label>&nbsp;&nbsp;&nbsp;&nbsp;
<label><input type="radio" name="goto" value="4" id="goto_4" onclick="mk(4);"/> 站内网址</label>
</td>
</tr>
<tr id="uri" class="dsn">
<td class="tl">站内网址</td>
<td class="tr"><input type="text" name="url" value="" size="80" id="url" style="padding:6px;"/> &nbsp; <span id="durl"></span></td>
</tr>
<tr>
<td class="tl">推广网址</td>
<td class="tr"><input type="text" name="code" value="{$url}" size="80" id="code" style="padding:6px;" readonly/>{if strpos($DT_MBS, 'IE') === false} <img src="{DT_STATIC}image/ico-copy.png" class="cp" title="复制" data-clipboard-action="copy" data-clipboard-target="#code" onclick="Dtoast('推广网址已复制');"/>{/if}</td>
</tr>
<tr>
<td class="tl">二维码</td>
<td class="tr"><img src="{DT_PATH}api/qrcode.php?size=4&auth={$url}" width="188" height="188" id="qr"/></td>
</tr>
<tr>
<td class="tl">推广方法</td>
<td class="tr lh20">
- 将上面的推广网址或二维码发给您QQ/微信/Email等好友<br/>
- 在自媒体平台、论坛签名、博客链接、网站等加上推广网址<br/>
</td>
</tr>
<tr>
<td class="tl">奖励规则</td>
<td class="tr lh20">
- 每引导一个IP访问您可以获赠 <strong class="f_blue">{$MOD[credit_ip]}</strong> {$DT[credit_name]} (24小时内最多积{$MOD[credit_maxip]}{$DT[credit_name]})<br/>
- 每引导一个用户注册您可以获赠 <strong class="f_blue">{$MOD[credit_user]}</strong> {$DT[credit_name]}<br/>
{if $MG[agent]}
- 注册成功的用户会自动成为您的代理，<a href="agent.php?status=2" class="b">审核</a>之后可以代理分销您的商品<br/>
{/if}
</td>
</tr>
<tr>
<td class="tl">备注事项</td>
<td class="tr lh20">
- 无论引导至那个页面，系统均会自动记录您为用户注册推荐人<br/>
- 引导用户需注册成功完善资料后方可为您加分<br/>
- 同一IP 24小时内计算一次<br/>
</td>
</tr>
</table>
{if strpos($DT_MBS, 'IE') === false}
{load('clipboard.min.js')}
<script type="text/javascript">var clipboard = new Clipboard('[data-clipboard-action]');</script>
{/if}
<script type="text/javascript">
function mk(i) {
	if(i == 4) { $('#uri').show();$('#url').focus(); } else { $('#uri').hide(); }
	if(i == 4) {
		Dd('code').value='{$url}&goto='+(ck($('#url').val()) ? $('#url').val() : '');
	} else if(i == 3) {
		Dd('code').value='{$url}&goto=homepage';
	} else if(i == 2) {
		Dd('code').value='{$url}&goto=register';
	} else {
		Dd('code').value='{$url}';
	}
	qr();
}
function ck(url) {
	if(substr_count(url, '://') != 1) return false;
	if(CKDomain) {
		var dom = cutstr(url, '://', '/');
		if(dom.indexOf(CKDomain) == -1) return false;
	} else {
		if(url.indexOf(DTPath) == -1) return false;
	}
	return true;
}
function qr() {
	var s = '{DT_PATH}api/qrcode.php?size=4&auth='+encodeURIComponent($('#code').val());
	if($('#qr').attr('src') != s) $('#qr').attr('src', s);
}
$(function(){
	$('#url').on('input paste blur', function() {
		if(ck($('#url').val())) {
			$('#code').val('{$url}&goto='+encodeURIComponent($('#url').val()));
			$('#durl').html('<span class="f_green">校验成功</span>');
		} else {
			$('#code').val('{$url}&goto=');
			$('#durl').html('<span class="f_red">网址错误</span>');
		}
		qr();
	});
});
s('invite');m('action_code');
</script>
{/if}
{template 'footer', 'member'}