{template 'header', 'member'}
<script type="text/javascript">var errimg = '{DT_STATIC}image/nopic60.png';</script>
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab" id="action"><a href="?action=index"><span>我的订单</span></a></td>
<td class="tab" id="action_muti"><a href="?action=muti"><span>批量付款</span></a></td>
{if $MOD[contract]}<td class="tab" id="action_contract"><a href="?action=contract"><span>我的合同</span></a></td>{/if}
{if $MOD[invoice_types]}<td class="tab" id="action_invoice"><a href="?action=invoice"><span>我的发票</span></a></td>{/if}
<td class="tab" id="action_express"><a href="?action=express"><span>我的快递</span></a></td>
<td class="tab" id="action_service"><a href="?action=service"><span>售后服务</span></a></td>
</tr>
</table>
</div>
{if $action == 'update'}
	{template 'order_'.$step, 'member'}
{elseif $action == 'process'}
	{template 'order_'.$step, 'member'}
{elseif $action == 'muti'}
<!--[批量付款]-->
<form method="post" action="?" onsubmit="return check();" id="dform">
<input type="hidden" name="action" value="{$action}"/>
<div class="ls">
<table cellpadding="10" cellspacing="0" class="tb">
<tr>
<th width="20"><input type="checkbox" onclick="checkall(this.form);calculate();"/></th>
<th width="100">图片</th>
<th>商品</th>
<th width="100">单价</th>
<th width="100">数量</th>
<th width="150">订单金额</th>
<th width="150">下单时间</th>
<th width="40">订单</th>
</tr>
{loop $lists $k $v}
<tr align="center">
<td><input type="checkbox" name="itemid[]" value="{$v[itemid]}" checked id="check_{$v[itemid]}" onclick="calculate({$v[itemid]})"/></td>
<td><a href="javascript:_preview('{$v[thumb]}');"><img src="{if $v[thumb]}{$v[thumb]}{else}{DT_STATIC}image/nopic60.png{/if}" width="60" height="60" onerror="this.src=errimg;" style="margin:10px;"/></a></td>
<td align="left" valign="top" class="f_gray lh18"><a href="{$v[linkurl]}" target="_blank" class="t">{$v[title]}</a><br/>{$v[par]}{if $v[note]}备注：{$v[note]}{/if}
<input type="hidden" id="money_{$v[itemid]}" value="{$v[money]}"/>
</td>
<td>{$DT[money_sign]}{$v[price]}</td>
<td>{$v[number]}</td>
<td class="f_red">{$DT[money_sign]}{$v[money]}</td>
<td>{$v[addtime]}</td>
<td><a href="?action=update&step=detail&itemid={$v[itemid]}" target="_blank" class="t">详情</a>
</tr>
{if isset($tags[$v[itemid]])}
{loop $tags[$v[itemid]] $i $t}
<tr align="center">
<td></td>
<td><a href="javascript:_preview('{$t[thumb]}');"><img src="{if $t[thumb]}{$t[thumb]}{else}{DT_STATIC}image/nopic60.png{/if}" width="60" height="60" onerror="this.src=errimg;"/></a></td>
<td align="left" valign="top" class="f_gray lh18"><a href="{$t[linkurl]}" target="_blank" class="t">{$t[title]}</a><br/>{$t[par]}{if $t[note]}备注：{$t[note]}{/if}</td>
<td>{$DT[money_sign]}{$t[price]}</td>
<td>{$t[number]}</td>
<td></td>
<td></td>
<td></td>
</tr>
{/loop}
{/if}
{/loop}
</table>
</div>
<br/>
<table cellpadding="10" cellspacing="1" class="tb">
<tr>
<td class="tl">订单数量</td>
<td class="tr"><span id="total_good"></span></td>
</tr>
<tr>
<td class="tl">应付金额</td>
<td class="tr"><span class="f_red">{$DT[money_sign]}</span><span class="f_red" id="total_amount"></span> {$DT[money_unit]}</td>
</tr>
<tr id="mymoney" style="display:none;">
<td class="tl">账户余额</td>
<td class="tr"><span class="f_blue">{$DT[money_sign]}{$_money}</span> {$DT[money_unit]}</td>
</tr>
<tr id="payword" style="display:none;">
<td class="tl"><span class="f_red">*</span> 支付密码</td>
<td class="tr">{template 'payword', 'chip'} <span id="dpassword" class="f_red"></span></td>
</tr>
<tr id="paytype" style="display:none;">
<td class="tl"><span class="f_red">*</span> 支付方式</td>
<td class="tr">{template 'paylist', 'chip'}</td>
</tr>
{if $DT[sms]}
<tr>
<td class="tl"></td>
<td class="tr"><label><input type="checkbox" name="sendsms" value="1" checked="checked"/> 短信通知卖家发货</label> (<a href="sms.php" target="_blank" class="t">我的可用短信 <strong class="f_blue">{$_sms}</strong> 条</a>)</td>
</tr>
{/if}
</table>
<div class="sbt"><input type="submit" name="submit" value=" 立即支付 " class="btn_g"/></div>
</form>
<script type="text/javascript">
var amount = 0;
var itemids = [{$itemids}];
function calculate(id) {
	var _good = _amount = 0;
	for(var i = 0; i < itemids.length; i++) {
		var itemid = itemids[i];
		if(Dd('check_'+itemid).checked) {
			_good++;
			_amount += parseFloat(Dd('money_'+itemid).value);
		}
	}
	if(_good < 1) {
		alert('至少需要选择一个订单');
		Dd('check_'+(id ? id : itemid)).checked = true;
		setTimeout('calculate()', 1000);
	}
	amount = _amount;
	Dd('total_good').innerHTML = _good;
	Dd('total_amount').innerHTML = _amount.toFixed(2);
}
calculate();
function check() {
	if(amount > {$_money}) {
		var k = '';
		for(var i = 0; i < itemids.length; i++) {
			var itemid = itemids[i];
			if(Dd('check_'+itemid).checked) {
				k += k ? ','+itemid : itemid;
			}
		}
		Go('charge.php?action=pay&reason=trades|'+k+'&amount='+amount+'&bank='+$('#bank').val());
		return false;
	}
	var f,l;
	f = 'password';
	l = Dd(f).value.length;
	if(l < 6) {
		Dmsg('请填写支付密码', f);
		return false;
	}
	return true;
}
window.setInterval(
	function() {
		if(amount > {$_money} || {$_money} < 0.01) {
			$('#payword').hide();$('#mymoney').hide();$('#paytype').show();
		} else {
			$('#payword').show();$('#mymoney').show();$('#paytype').hide();
		}
	}, 
500);
</script>
<script type="text/javascript">s('order');m('action_muti');</script>

{elseif $action == 'contract'}
<!--[我的合同]-->
<div class="tt">
<form action="?" id="search">
<input type="hidden" name="action" value="{$action}"/>
{$fields_select}&nbsp;
<input type="text" size="30" name="kw" value="{$kw}" title="关键词" placeholder="关键词"/>&nbsp;
<input type="text" size="20" name="seller" value="{$seller}" title="卖家" placeholder="卖家"/>&nbsp;
<input type="submit" value=" 搜 索 " class="btn"/>&nbsp;
<input type="button" value=" 重 置 " class="btn" onclick="Go('?action={$action}');"/><br/>
<div class="b10"></div>
<div>
<select name="datetype">
<option value="addtime"{if $datetype == 'addtime'} selected{/if}>下单时间</option>
<option value="seller_time"{if $datetype == 'seller_time'} selected{/if}>乙方签署</option>
<option value="buyer_time"{if $datetype == 'buyer_time'} selected{/if}>甲方签署</option>
</select>&nbsp;
{dcalendar('fromdate', $fromdate, '-', 1)} 至 {dcalendar('todate', $todate, '-', 1)}&nbsp;
{$status_select}&nbsp;
</div>
</form>
</div>
<div class="bd">
<table cellpadding="10" cellspacing="0" class="tb">
<tr>
<th>单号</th>
<th>乙方</th>
<th data-hide-1200="1" data-hide-1400="1">商品</th>
<th width="150">金额</th>
<th width="150" data-hide-1200="1" data-hide-1400="1" data-hide-1600="1">下单时间</th>
<th width="150">乙方签署</th>
<th width="150">甲方签署</th>
<th width="100">卖家</th>
<th width="100">状态</th>
<th width="40">详情</th>
</tr>
{loop $lists $k $v}
<tr align="center">
<td><a href="?action=update&step=detail&itemid={$v[oid]}">{$v[oid]}</a></td>
<td><a href="javascript:;" onclick="Dq('seller','{$v[seller]}');">{$v[seller_company]}</a></td>
<td data-hide-1200="1" data-hide-1400="1"><a href="javascript:;" onclick="Dq('kw',this.innerHTML);">{dsubstr($v[title], 40, '...')}</a></td>
<td><a href="javascript:;" onclick="Dq('fields',2,0);Dq('kw','={$v[amount]}');">{$DT[money_sign]}{$v[amount]}</a></td>
<td data-hide-1200="1" data-hide-1400="1" data-hide-1600="1"><a href="javascript:;" onclick="Dq('datetype','addtime',0);Dq('date',this.innerHTML);">{$v[addtime]}</a></td>
<td>{if $v[seller_time]}<a href="javascript:;" onclick="Dq('datetype','seller_time',0);Dq('date',this.innerHTML);">{timetodate($v[seller_time], 5)}</a>{else}N/A{/if}</td>
<td>{if $v[buyer_time]}<a href="javascript:;" onclick="Dq('datetype','buyer_time',0);Dq('date',this.innerHTML);">{timetodate($v[buyer_time], 5)}</a>{else}N/A{/if}</td>
<td><a href="{userurl($v[seller], 'file=contact')}" target="_blank">{$v[seller]}</a></td>
<td><a href="javascript:;" onclick="Dq('status','{$v[status]}');">{$dstatus[$v[status]]}</a></td>
<td><a href="?action=update&step=contract&itemid={$v[oid]}" class="t">详情</a></td>
</tr>
{/loop}
</table>
</div>
<div class="pages">{$pages}</div>
<script type="text/javascript">s('order');m('action_contract');</script>

{elseif $action == 'invoice'}
<!--[我的发票]-->
<div class="tt">
<form action="?" id="search">
<input type="hidden" name="action" value="{$action}"/>
{$fields_select}&nbsp;
<input type="text" size="30" name="kw" value="{$kw}" title="关键词" placeholder="关键词"/>&nbsp;
<input type="text" size="20" name="seller" value="{$seller}" title="卖家" placeholder="卖家"/>&nbsp;
<input type="submit" value=" 搜 索 " class="btn"/>&nbsp;
<input type="button" value=" 重 置 " class="btn" onclick="Go('?action={$action}');"/>
<div class="b10"></div>
<div>
<select name="datetype">
<option value="updatetime"{if $datetype == 'updatetime'} selected{/if}>开票时间</option>
<option value="addtime"{if $datetype == 'addtime'} selected{/if}>申请时间</option>
</select>&nbsp;
{dcalendar('fromdate', $fromdate, '-', 1)} 至 {dcalendar('todate', $todate, '-', 1)}&nbsp;
<select name="status">
<option value="0"{if $status == 0} selected{/if}>开票状态</option>
<option value="1"{if $status == 1} selected{/if}>未开票</option>
<option value="2"{if $status == 2} selected{/if}>已开票</option>
<option value="3"{if $status == 3} selected{/if}>已上传</option>
<option value="4"{if $status == 4} selected{/if}>已快递</option>
</select>&nbsp;
</div>
</form>
</div>
<div class="bd">
<table cellpadding="10" cellspacing="0" class="tb">
<tr>
<th>单号</th>
<th>类型</th>
<th data-hide-1200="1">抬头</th>
<th data-hide-1200="1" data-hide-1400="1">纳税人识别号</th>
<th width="150">金额</th>
<th width="150">申请时间</th>
<th width="150">开票时间</th>
<th width="100">卖家</th>
<th width="100">发票</th>
<th width="40">详情</th>
</tr>
{loop $lists $k $v}
<tr align="center">
<td><a href="?action=update&step=detail&itemid={$v[oid]}">{$v[oid]}</a></td>
<td><a href="javascript:;" onclick="Dq('fields',2,0);Dq('kw','='+this.innerHTML);">{$v[type]}</a></td>
<td data-hide-1200="1"><a href="javascript:;" onclick="Dq('fields',1,0);Dq('kw','='+this.innerHTML);">{$v[company]}</a></td>
<td data-hide-1200="1" data-hide-1400="1"><a href="javascript:;" onclick="Dq('fields',3,0);Dq('kw','='+this.innerHTML);">{$v[taxid]}</a></td>
<td><a href="javascript:;" onclick="Dq('fields',4,0);Dq('kw','={$v[amount]}');">{$DT[money_sign]}{$v[amount]}</a></td>
<td><a href="javascript:;" onclick="Dq('datetype','addtime',0);Dq('date',this.innerHTML);">{$v[addtime]}</a></td>
<td><a href="javascript:;" onclick="Dq('datetype','updatetime',0);Dq('date',this.innerHTML);">{$v[updatetime]}</a></td>
<td><a href="{userurl($v[seller], 'file=contact')}" target="_blank">{$v[seller]}</a></td>
<td>
{if $v[url]}
<a href="javascript:;" onclick="_preview('{$v[url]}');"><span class="f_blue">请下载</span></a>
{elseif $v[send_type]}
<a href="?action=update&step=invoice&itemid={$v[oid]}"><span class="f_blue">已快递</span></a>
{else}
<span class="f_green">开票中</span>
{/if}
</td>
<td><a href="?action=update&step=invoice&itemid={$v[oid]}" class="t">查看</a></td>
</tr>
{/loop}
</table>
</div>
<div class="pages">{$pages}</div>
<script type="text/javascript">s('order');m('action_{$action}');</script>

{elseif $action == 'express'}
<!--[我的快递]-->
<div class="tt">
<form action="?" id="search">
<input type="hidden" name="action" value="{$action}"/>
{$fields_select}&nbsp;
<input type="text" size="30" name="kw" value="{$kw}" title="关键词" placeholder="关键词"/>&nbsp;
{$status_select}&nbsp;
<input type="submit" value=" 搜 索 " class="btn"/>&nbsp;
<input type="button" value=" 重 置 " class="btn" onclick="Go('?action={$action}');"/>
<div class="b10"></div>
<div>
<select name="datetype">
<option value="addtime"{if $datetype == 'addtime'} selected{/if}>下单时间</option>
<option value="updatetime"{if $datetype == 'updatetime'} selected{/if}>更新时间</option>
</select>&nbsp;
{dcalendar('fromdate', $fromdate, '-', 1)} 至 {dcalendar('todate', $todate, '-', 1)}&nbsp;
</div>
</form>
</div>
<div class="bd">
<table cellpadding="10" cellspacing="0" class="tb">
<tr>
<th width="150">快递公司</th>
<th>快递单号</th>
{if strpos($DT_MBS, 'IE') === false}<th width="40">复制</th>{/if}
<th width="100">快递状态</th>
<th data-hide-1200="1" data-hide-1400="1">收件地址</th>
<th width="100">收件人</th>
<th width="150">收件手机</th>
<th width="150" data-hide-1200="1" data-hide-1600="1">下单时间</th>
<th width="150">更新时间</th>
<th width="40">订单</th>
</tr>
{loop $lists $k $v}
<tr align="center">
<td><a href="javascript:;" onclick="Dq('fields',2,0);Dq('kw','='+this.innerHTML);">{$v[send_type]}</a></td>
<td title="快递追踪"><a href="?action=update&step=express&itemid={$v[itemid]}" class="t">{$v[send_no]}</a></td>
{if strpos($DT_MBS, 'IE') === false}<td><img src="{DT_STATIC}image/ico-copy.png" class="cp" title="复制" data-clipboard-action="copy" data-clipboard-target="#copy-{$v[itemid]}" onclick="Dtoast('快递单号 {$v[send_no]} 已复制');"/></td>{/if}
<td><a href="javascript:;" onclick="Dq('status','{$v[send_status]}');">{$v[dstatus]}</a></td>
<td align="left" data-hide-1200="1" data-hide-1400="1">{$v[buyer_address]}</td>
<td>{$v[buyer_name]}</td>
<td><a href="javascript:;" onclick="Dq('fields',4,0);Dq('kw','='+this.innerHTML);">{$v[buyer_mobile]}</a></td>
<td data-hide-1200="1" data-hide-1600="1"><a href="javascript:;" onclick="Dq('datetype','addtime',0);Dq('date',this.innerHTML);">{$v[addtime]}</a></td>
<td><a href="javascript:;" onclick="Dq('datetype','updatetime',0);Dq('date',this.innerHTML);">{$v[updatetime]}</a></td>
<td><a href="?action=update&step=detail&itemid={$v[itemid]}" class="t">查看</a></td>
</tr>
{/loop}
</table>
</div>
<div class="pages">{$pages}</div>
{if strpos($DT_MBS, 'IE') === false}
<div style="z-index:1000;position:absolute;top:-10000px;">
{loop $lists $k $v}
<textarea id="copy-{$v[itemid]}">{$v[send_no]}</textarea>
{/loop}
</div>
{load('clipboard.min.js')}
<script type="text/javascript">var clipboard = new Clipboard('[data-clipboard-action]');</script>
{/if}
<script type="text/javascript">
s('order');m('action_express');
</script>

{elseif $action == 'service'}
<!--[售后服务]-->
<div class="tt">
<form action="?" id="search">
<input type="hidden" name="action" value="{$action}"/>
{$fields_select}&nbsp;
<input type="text" size="30" name="kw" value="{$kw}" title="关键词" placeholder="关键词"/>&nbsp;
{$type_select}&nbsp;
{$status_select}&nbsp;
<input type="submit" value=" 搜 索 " class="btn"/>&nbsp;
<input type="button" value=" 重 置 " class="btn" onclick="Go('?action={$action}');"/>
<div class="b10"></div>
<div>
<select name="datetype">
<option value="updatetime"{if $datetype == 'updatetime'} selected{/if}>更新时间</option>
<option value="addtime"{if $datetype == 'addtime'} selected{/if}>申请时间</option>
</select>&nbsp;
{dcalendar('fromdate', $fromdate, '-', 1)} 至 {dcalendar('todate', $todate, '-', 1)}&nbsp;
<input type="text" size="10" name="seller" value="{$seller}" title="卖家" placeholder="卖家"/>&nbsp;
<input type="text" size="10" name="oid" value="{$oid}" title="单号" placeholder="单号"/>&nbsp;
</div>
</form>
</div>

<div class="nav">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="{if $typeid===''}nav_2{else}nav_1{/if}"><a href="?action={$action}">全部服务</a></td>
{loop $dservice $k $v}
<td class="{if $typeid===$k}nav_2{else}nav_1{/if}"><a href="?action={$action}&typeid={$k}">{$v}</a></td>
{/loop}
<td>&nbsp;</td>
</tr>
</table>
</div>


<div class="bd">
<table cellpadding="10" cellspacing="0" class="tb">
<tr>
<th>商品信息</th>
<th width="120">单价</th>
<th width="60">数量</th>
<th width="120">实付</th>
<th width="100">商家</th>
<th width="120">类型</th>
<th width="120">状态</th>
</tr>
</table>
{loop $lists $k $v}
<table cellpadding="10" cellspacing="0" class="tb">
<tr bgcolor="#F5F5F5">
<td colspan="8" class="f_gray">
<span class="f_r">
{if $v[status] == 0}
<a href="?action=process&step=close&itemid={$v[itemid]}" onclick="return confirm('确定要撤销此申请吗？');">撤销申请</a> | 
{elseif $v[status] == 3}
	{if $v[typeid]}
	<a href="?action=process&step=send&itemid={$v[itemid]}">寄回商品</a> | 
	{/if}
{/if}
<a href="?action=update&step=detail&itemid={if $v[pid]}{$v[pid]}{else}{$v[oid]}{/if}">订单详情</a> | 
<a href="?action=process&step=service&itemid={$v[itemid]}">服务详情</a>&nbsp;
</span>
&nbsp; <span class="c_p" onclick="Dq('datetype','addtime',0);Dq('date',this.innerHTML);">{$v[addtime]}</span> &nbsp; <span class="c_p" onclick="Dq('oid',{if $v[pid]}{$v[pid]}{else}{$v[oid]}{/if});">订单号：{if $v[pid]}{$v[pid]}{else}{$v[oid]}{/if}<span>
</td>
</tr>
<tr align="center">
<td width="70"><a href="javascript:_preview('{$v[thumb]}');"><img src="{if $v[thumb]}{$v[thumb]}{else}{DT_STATIC}image/nopic60.png{/if}" width="60" height="60" onerror="this.src=errimg;"/></a></td>
<td align="left" valign="top" class="f_gray lh18"><a href="{$v[linkurl]}" target="_blank" class="t">{$v[title]}</a>
<td width="120">{$DT[money_sign]}{$v[price]}</td>
<td width="60">{$v[number]}</td>
<td width="120">{$DT[money_sign]}{$v[amount]}</td>
<td width="100"><div style="margin-bottom:16px;"><a href="{userurl($v[seller], 'file=contact')}" target="_blank">{$v[seller]}</a></div>{if $DT[im_web]}{im_web($v[seller].'&mid=16&itemid='.$v[mallid])} {/if}<a href="javascript:;" onclick="Dwidget('message.php?action=send&touser={$v[seller]}', '发送信件', 1220);"><img src="{DT_STATIC}image/msg.gif" title="发送站内信" align="absmiddle"/></a></td>
<td width="120"><a href="javascript:;" onclick="Dq('typeid','{$v[typeid]}');">{$v[typename]}</a></a>
<td width="120">
<a href="javascript:;" onclick="Dq('status','{$v[status]}');">{$v[dstatus]}</a>
{if $v[status] == 0}
	<a href="?action=process&step=close&itemid={$v[itemid]}" onclick="return confirm('确定要撤销此申请吗？');"><span class="trade_step">撤销</span></a>
{elseif $v[status] == 3}
	<a href="?action=process&step=send&itemid={$v[itemid]}"><span class="trade_step">寄回</span></a>
{/if}
</td>
</tr>
</table>
{/loop}
</div>

<div class="pages">{$pages}</div>
<script type="text/javascript">s('order');m('action_{$action}');</script>
{else}
<!--[我发出的订单]-->
<div class="tt">
<form action="?" id="search">
<input type="hidden" name="action" value="{$action}"/>
{$fields_select}&nbsp;
<input type="text" size="30" name="kw" value="{$kw}" title="关键词" placeholder="关键词"/>&nbsp;
<input type="text" size="10" name="itemid" value="{$itemid}" title="单号" placeholder="单号"/>&nbsp;
<input type="text" size="10" name="mallid" value="{$mallid}" title="商品ID" placeholder="商品ID"/>&nbsp;
<input type="text" size="10" name="seller" value="{$seller}" title="卖家" placeholder="卖家"/>&nbsp;
<input type="submit" value=" 搜 索 " class="btn"/>&nbsp;
<input type="button" value=" 重 置 " class="btn" onclick="Go('?action=index');"/><br/>
<div class="b10"></div>
<div>
<select name="datetype">
<option value="addtime"{if $datetype == 'addtime'} selected{/if}>下单时间</option>
<option value="updatetime"{if $datetype == 'updatetime'} selected{/if}>更新时间</option>
</select>&nbsp;
{dcalendar('fromdate', $fromdate, '-', 1)} 至 {dcalendar('todate', $todate, '-', 1)}&nbsp;
{$status_select}&nbsp;
<label><input type="checkbox" name="cod" value="1"{if $cod} checked{/if}/> 货到付款</label>&nbsp;
</div>
</form>
</div>

<div class="nav">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="{if !in_array($nav, array(0,1,2,3,4,7))}nav_2{else}nav_1{/if}"><a href="?action=index">全部</a></td>
<td class="{if $nav==0}nav_2{else}nav_1{/if}"><a href="?nav=0">待确认 <span>({php echo $db->count($table, "buyer='$_username' AND pid=0 AND status=0");})</span></a></td>
<td class="{if $nav==1}nav_2{else}nav_1{/if}"><a href="?nav=1">待付款 <span>({php echo $db->count($table, "buyer='$_username' AND pid=0 AND status=1");})</span></a></td>
<td class="{if $nav==2}nav_2{else}nav_1{/if}"><a href="?nav=2">待发货 <span>({php echo $db->count($table, "buyer='$_username' AND pid=0 AND status=2");})</span></a></td>
<td class="{if $nav==3}nav_2{else}nav_1{/if}"><a href="?nav=3">待收货 <span>({php echo $db->count($table, "buyer='$_username' AND pid=0 AND status=3");})</span></a></td>
<td class="{if $nav==4}nav_2{else}nav_1{/if}"><a href="?nav=4">已完成 <span>({php echo $db->count($table, "buyer='$_username' AND pid=0 AND status=4");})</span></a></td>
<td class="{if $nav==7}nav_2{else}nav_1{/if}"><a href="?nav=7">待评价 <span>({php echo $db->count($table, "buyer='$_username' AND pid=0 AND status=4 AND seller_star=0");})</span></a></td>
<td>&nbsp;</td>
</tr>
</table>
</div>

<div class="bd">
<table cellpadding="10" cellspacing="0" class="tb">
<tr>
<th>商品信息</th>
<th width="60">数量</th>
<th width="120">订单金额</th>
<th width="120">订单状态</th>
</tr>
</table>
{loop $lists $k $v}
<table cellpadding="10" cellspacing="0" class="tb">
<tr bgcolor="#F5F5F5">
<td colspan="7" class="f_gray">
<span class="f_r">
{if $v[status] == 0}
<a href="?itemid={$v[itemid]}&action=update&step=edit">修改地址</a> | 
<a href="?action=update&step=close&itemid={$v[itemid]}" onclick="return confirm('确定要关闭此交易吗？此操作将不可撤销');">关闭交易</a> | 
{elseif $v[status] == 1}
	<a href="?action=update&step=pay&itemid={$v[itemid]}">立即付款</a> | 
	<a href="?itemid={$v[itemid]}&action=update&step=edit">修改地址</a> | 
	<a href="?action=update&step=close&itemid={$v[itemid]}" onclick="return confirm('确定要关闭此交易吗？此操作将不可撤销');">关闭交易</a> | 
{elseif $v[status] == 2}
	<a href="?action=update&step=remind&itemid={$v[itemid]}">提醒发货</a> | 
	<a href="?action=update&step=refund&itemid={$v[itemid]}">申请退款</a> | 
{elseif $v[status] == 3}
	{if $v[lefttime]}
	<span class="f_blue" title="如果逾期未处理，系统将自动付款给卖家"><img src="{DT_STATIC}image/clock.gif" width="12" height="12"/> 距处理此订单还剩{$v[lefttime]}</span>&nbsp;	
	<a href="?action=update&step=receive_goods&itemid={$v[itemid]}" onclick="return confirm('确认已收到货且质量与数量无误吗？\n\n请注意:确认后您的钱将直接支付给卖家');">确认到货</a> | 
	{if $v[send_type] && $v[send_no]}
	<a href="?action=update&step=express&itemid={$v[itemid]}">快递追踪</a> | 
	{/if}
	<a href="?action=update&step=refund&itemid={$v[itemid]}">申请退款</a> | 
	{else}
	<span class="f_red">订单处理已超时，等待卖家收款</span>&nbsp;
	{/if}
{elseif $v[status] == 4}
	{if $MODULE[$v[mid]][module] == 'mall'}
	{if $v[seller_star]}
	<a href="?action=update&step=comment_detail&itemid={$v[itemid]}">评价详情</a> | 
	{else}
	<a href="?action=update&step=comment&itemid={$v[itemid]}">评价</a> | 
	{/if}
	{/if}
	<a href="?action=update&step=refund&itemid={$v[itemid]}">申请售后</a> | 
{elseif $v[status] == 9}
	<a href="?action=update&step=close&itemid={$v[itemid]}" onclick="return confirm('确定要删除此交易吗？此操作将不可撤销');">删除订单</a> | 
{/if}
<a href="?action=update&step=detail&itemid={$v[itemid]}">订单详情</a>&nbsp;
</span>
&nbsp; <span class="c_p" onclick="Dq('datetype','addtime',0);Dq('date',this.innerHTML);">{$v[addtime]}</span> &nbsp; <a href="?action=update&step=detail&itemid={$v[itemid]}"><span class="f_gray" style="width:180px;display:inline-block;">订单号：{$v[itemid]}<span></a> &nbsp; {if $DT[im_web]}{im_web($v[seller].'&mid='.$v[mid].'&itemid='.$v[mallid])}{else}<a href="javascript:;" onclick="Dwidget('message.php?action=send&touser={$v[seller]}', '发送信件', 1220);"><img src="{DT_STATIC}image/msg.gif" title="发送站内信" align="absmiddle"/></a>{/if} &nbsp; <a href="{userurl($v[seller])}" target="_blank"><span class="f_gray">{$v[shop]}</span></a>
</td>
</tr>
<tr align="center">
<td width="70"><a href="javascript:_preview('{$v[thumb]}');"><img src="{if $v[thumb]}{$v[thumb]}{else}{DT_STATIC}image/nopic60.png{/if}" width="60" height="60" onerror="this.src=errimg;"/></a></td>
<td align="left" valign="top" class="f_gray lh18"><a href="{$v[linkurl]}" target="_blank" class="t">{$v[title]}</a><br/>{$v[par]}{if $v[note]}备注：{$v[note]}{/if}
<td width="60">{$v[number]}</td>
<td width="120"><a href="javascript:;" onclick="Dq('fields',2,0);Dq('kw','={$v[money]}');">{$DT[money_sign]}{$v[money]}</a></td>
<td width="120">
<a href="javascript:;" onclick="Dq('status','{$v[status]}');">{$v[dstatus]}</a>
{if $v[status] == 1}
	<a href="?action=update&step=pay&itemid={$v[itemid]}"><span class="trade_step">付款</span></a>
{elseif $v[status] == 3}
	<a href="?action=update&step=receive_goods&itemid={$v[itemid]}" onclick="return confirm('确认已收到货且质量与数量无误吗？\n\n请注意:确认后您的钱将直接支付给卖家');"><span class="trade_step">收货</span></a>
{elseif $v[status] == 4}
	{if $MODULE[$v['mid']]['module'] == 'mall' && !$v[seller_star]}
	<a href="?action=update&step=comment&itemid={$v[itemid]}"><span class="trade_step">评价</span></a>
	{/if}
{/if}
</td>
</tr>
{if isset($tags[$v[itemid]])}
{loop $tags[$v[itemid]] $i $t}
<tr align="center">
<td><a href="javascript:_preview('{$t[thumb]}');"><img src="{if $t[thumb]}{$t[thumb]}{else}{DT_STATIC}image/nopic60.png{/if}" width="60" height="60" onerror="this.src=errimg;"/></a></td>
<td align="left" valign="top" class="f_gray lh18"><a href="{$t[linkurl]}" target="_blank" class="t">{$t[title]}</a><br/>{$t[par]}{if $t[note]}备注：{$t[note]}{/if}</td>
<td>{$t[number]}</td>
<td></td>
<td></td>
</tr>
{/loop}
{/if}
</table>
{/loop}
</div>
<div class="pages">{$pages}</div>
<script type="text/javascript">s('order');m('action');</script>
{/if}
{template 'footer', 'member'}