尊敬的会员：<br/>
您已经30天没有登录 <a href="{DT_PATH}" target="_blank" style="color:#005590;">{$DT[sitename]}</a> 了，建议您定期登录，以免错失重要商机。<br/>
<a href="{$MODULE[2][linkurl]}{$DT[file_login]}" target="_blank" style="color:#005590;"><b>点这里立即登录</b></a><br/>
----------------------------------------<br/>
<b>小提示：</b><br/>
您的登录户名：{$user[username]}<br/>
您的登录密码：<i>已加密</i> (如果您忘记了密码，<a href="{$MODULE[2][linkurl]}send.php" target="_blank" style="color:#005590;">请点这里找回</a>)<br/>
您的注册邮箱：{$user[email]}<br/>
----------------------------------------<br/>
{$content}<br/>