{template 'header'}
{load('member/panel.css')}
{load('panel.js')}
<script type="text/javascript">var module_id= {$moduleid},item_id={$itemid},content_id='',img_max_width={$MOD[max_width]};</script>
<div class="m">
	<div class="nav">
	<div class="know_show_btn">{if $process == 1}<a href="javascript:;" onclick="Dwidget('{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$moduleid}&job=answer&action=add&itemid={$itemid}', '回答：{$title}', 1220);"><b class="know-btn">回答</b></a>{else}<a href="javascript:;" onclick="Dwidget('{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$moduleid}&cid={$catid}&action=add', '{$CAT[catname]} 提问', 1220);"><b class="know-btn">提问</b></a>{/if}</div>
	<a href="{$MODULE[1][linkurl]}">首页</a> <i>&gt;</i> <a href="{$MOD[linkurl]}">{$MOD[name]}</a> <i>&gt;</i> {cat_pos($CAT, ' <i>&gt;</i> ')}
	</div>
</div>
<div class="m">
	<div class="know_show">
	<table>
	<tr>
	<td valign="top" class="know_show_l">
	<ul>
	{if $item[hidden]}
	<li><img src="{useravatar('', 'large')}" alt="" class="know_avatar"/></li>
	<li><b class="f_gray">匿名</b></li>
	{else}
	<li><a href="{userurl($item[username], 'file=space&mid='.$moduleid)}" target="_blank"><img src="{useravatar($item[username], 'large')}" alt="" class="know_avatar"/></a><i class="userinfo-v{$member[validate]}" title="{valid_name($member[validate])}"></i></li>
	<li>
		{if $item[username]}
		<a href="{userurl($item[username], 'file=space&mid='.$moduleid)}" target="_blank"><b>{$item[passport]}</b></a>
		{else}
		<b title="{hide_info($item[ip], 'ip')}" class="f_gray">游客</b>
		{/if}
	</li>
	{if $member}<li><img src="{DT_STATIC}image/grade-{$member[gradeid]}.png" width="24" alt=""/></li>{/if}
	{/if}
	<li></li>
	</ul>
	</td>
	<td valign="top">
		<div class="know_info">
			<span class="f_r">
			{if $MOD[hits]}<i class="ui-ico-hits">点击 <span id="hits">{$hits}</span></i>{/if}
			<i class="ui-ico-comm">回答 <span id="answer">{$answer}</span></i>
			</span>
			<i class="ui-ico-time" title="{timetodate($addtime, 5)}">{timetoread($addtime, 5)}</i>
			{if $MOD[ip]}<i class="ui-ico-area">IP属地 {ip2area($ip, $MOD[ip])}</i>{/if}
		</div>
		<h1 class="title" id="title">{$title}</h1>
		<div class="info"><span class="f_r f_b"><img src="{DT_SKIN}know_{$process}.gif" align="absmiddle"/> {$PROCESS[$process]}</span>
		<img src="{DT_SKIN}ico_reward.gif" align="absmiddle"/> <span class="f_orange">悬赏分：{$credit}</span>
		<span class="f_gray">
		{if $process == 1 || $process == 2}
		- 离问题结束还有 {sectoread($totime-$DT_TIME)}
		{elseif $process == 3}
		- 解决时间 <span title="{timetodate($updatetime, 5)}">{timetoread($updatetime, 5)}</span>
		{/if}		
		</span>
		</div>
		{if $CP}{template 'property_show', 'chip'}{/if}
		<div id="question" class="content">{$content}</div>
		{if $addition}
		<div class="know_addition">
		<b>问题补充：</b><br/>
		{nl2br($addition)}
		</div>
		{/if}
		<div class="tool">
		{if $MOD[show_like]}<i class="like" onclick="Dlike({$moduleid}, {$itemid}, 0);">点赞 <b id="like-{$moduleid}-{$itemid}-0">{$likes}</b></i>{/if}
		{if $MOD[show_hate]}<i class="hate" onclick="Dhate({$moduleid}, {$itemid}, 0);">反对 <b id="hate-{$moduleid}-{$itemid}-0">{$hates}</b></i>{/if}
		{if $MOD[show_report]}<i class="report" onclick="Dreport({$moduleid}, {$itemid}, 0);">举报</i>{/if}
		{if $MOD[show_favorite]}<i class="favorite" onclick="Dfavor({$moduleid}, {$itemid});">收藏 <b>{$favorites}</b></i>{/if}
		{if $MOD[fee_award]}<a href="{$MODULE[2][linkurl]}award.php?mid={$moduleid}&itemid={$itemid}" target="_blank"><i class="award">打赏 <b>{$awards}</b></i></a>{/if}
		{if $could_comment}<a href="{$EXT[comment_url]}{rewrite('index.php?mid='.$moduleid.'&itemid='.$itemid)}" target="_blank"><i class="comment">评论 <b>{$comments}</b></i></a>{/if}
		{if $MOD[show_share]}<a href="{DT_PATH}api/share.php?mid={$moduleid}&itemid={$itemid}" target="_blank"><i class="share">分享 <b>{$shares}</b></i></a>{/if}
		</div>
	</td>
	</tr>
	</table>
	</div>
</div>
{if $aid && $best && $page == 1}
<div class="b10"></div>
<a name="H{$best[itemid]}"></a>
<div class="m">
	<div class="know_show">
	{if $ebest}
	<div class="answer_expert">专家答案</div>
	{else}
	<div class="answer_best">最佳答案</div>
	{/if}
	<table>
	<tr>
	<td valign="top" class="know_show_l">
	<ul>
	{if $ebest}
		<li><a href="{userurl($best[username], 'file=space&mid='.$moduleid)}" target="_blank"><img src="{useravatar($best[username], 'large')}" alt="" class="know_avatar"/></a><i class="userinfo-v{$best[member][validate]}" title="{valid_name($best[member][validate])}"></i></li>
		<li><a href="{$MOD[linkurl]}{rewrite('expert.php?itemid='.$ebest['itemid'])}" target="_blank"><b>{$ebest[title]}</b></a></li>
		{if $best[member]}<li><img src="{DT_STATIC}image/grade-{$best[member][gradeid]}.png" width="24" alt=""/></li>{/if}
		<li><span class="fb_green">专家</span></li>
		<li title="擅长领域：{$ebest[major]}"><a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid=10&action=add&askto={$best[username]}" target="_blank"><span class="fb_blue">提问</span></a></li>
	{else}
		{if $best[hidden]}
		<li><img src="{useravatar('', 'large')}" alt="" class="know_avatar"/></li>
		<li><b class="f_gray">匿名</b></li>
		{else}
		<li><img src="{useravatar($best[username], 'large')}" alt="" class="know_avatar"/><i class="userinfo-v{$best[member][validate]}" title="{valid_name($bset[member][validate])}"></i></li>
		<li>
			{if $best[username]}
			<a href="{userurl($best[username], 'file=space&mid='.$moduleid)}" target="_blank"><b>{$best[passport]}</b></a>
			{else}
			<b title="{hide_info($best[ip], 'ip')}" class="f_gray">游客</b>
			{/if}
		</li>
		{if $best[member]}<li><img src="{DT_STATIC}image/grade-{$best[member][gradeid]}.png" width="24" alt=""/></li>{/if}
		{/if}
	{/if}
	<li></li>
	</ul>
	</td>
	<td valign="top">
		<div class="know_info">
			<span class="f_r">
			<i class="ui-ico-like" onclick="Dlike({$moduleid}, 0, {$aid});">支持 <span id="like-{$moduleid}-0-{$aid}">{$best[likes]}</span></i>
			<i class="ui-ico-hate" onclick="Dhate({$moduleid}, 0, {$aid});">反对 <span id="hate-{$moduleid}-0-{$aid}">{$best[hates]}</span></i>
			<i class="ui-ico-report" onclick="Ranswer({$aid});">举报</i>
			</span>
			<i class="ui-ico-time" title="{timetodate($best[addtime], 5)}">{timetoread($best[addtime], 5)}</i>
			{if $MOD[ip]}<i class="ui-ico-area">IP属地 {ip2area($best[ip], $MOD[ip])}</i>{/if}
		</div>
		<div id="content" class="content"><div id="A_{$aid}">{template 'content', 'chip'}</div></div>
		{if $comment}
		<div class="know_comment">
		<span>提问者评价：</span><br/>
		{nl2br($comment)}
		</div>
		{/if}
	</td>
	</tr>
	</table>
	</div>
</div>
{/if}
{if $lists}
	{loop $lists $k $v}
	<div class="b10"></div>
	<a name="H{$v[itemid]}"></a>
	<div class="m">
		<div class="know_show">
		<table>
		<tr>
		<td valign="top" class="know_show_l">
		<ul>
		{if $v[hidden]}
		<li><img src="{useravatar('', 'large')}" alt="" class="know_avatar"/></li>
		<li id="u_{$v[itemid]}"><b class="f_gray">匿名</b></li>
		{else}
		<li><a href="{userurl($v[username], 'file=space&mid='.$moduleid)}" target="_blank"><img src="{useravatar($v[username], 'large')}" alt="" class="know_avatar"/></a><i class="userinfo-v{$v[member][validate]}" title="{valid_name($v[member][validate])}"></i></li>
		<li id="u_{$v[itemid]}">
			{if $v[username]}
			<a href="{userurl($v[username], 'file=space&mid='.$moduleid)}" target="_blank"><b>{$v[passport]}</b></a>
			{else}
			<b title="{hide_info($item[ip], 'ip')}" class="f_gray">游客</b>
			{/if}
		</li>
		{/if}
		{if $v[member]}<li><img src="{DT_STATIC}image/grade-{$v[member][gradeid]}.png" width="24" alt=""/></li>{/if}
		{if $v[expert]}<li><span class="fb_green">专家</span></li>{/if}
		<li></li>
		</ul>
		</td>
		<td valign="top">
			<div class="know_info">
				<span class="f_r">
				<i class="ui-ico-like" onclick="Dlike({$moduleid}, 0, {$v[itemid]});">支持 <span id="like-{$moduleid}-0-{$v[itemid]}">{$v[likes]}</span></i>
				<i class="ui-ico-hate" onclick="Dhate({$moduleid}, 0, {$v[itemid]});">反对 <span id="hate-{$moduleid}-0-{$v[itemid]}">{$v[hates]}</span></i>
				<i class="ui-ico-report" onclick="Ranswer({$v[itemid]});">举报</i>
				</span>
				<i class="ui-ico-time" title="{timetodate($v[addtime], 5)}">{timetoread($v[addtime], 5)}</i>
				{if $MOD[ip]}<i class="ui-ico-area">IP属地 {ip2area($v[ip], $MOD[ip])}</i>{/if}
			</div>
			<div class="content" id="A_{$v[itemid]}">{$v[content]}</div>
		</td>
		</tr>
		</table>
		</div>
	</div>
	{/loop}
{/if}
{if $pages}
<div class="m bd-t"><div class="pages">{$pages}</div></div>
{/if}
{if $process == 1 || $process == 2}
<div class="m">
<script type="text/javascript">show_answer('{$MOD[linkurl]}', {$itemid});</script>
<a name="answer"></a>
</div>
{/if}
<div id="destoon-usercard"></div>
{load('content.js')}
<script style="text/javascript">
$(function(){Dusercard({$moduleid}, '.know_avatar');});
function Danswer() {
	$('html,body').animate({scrollTop:$("[name='answer']").offset().top}, 500);
}
function Ranswer(id) {
	Dreport({$moduleid}, 0, id, Dd('A_'+id) ? '{$MOD[name]}回答举报，答案ID:'+id+'\n回答内容:\n'+Dd('A_'+id).innerHTML : '');
}
</script>
{template 'footer'}