{template 'header'}
<div id="head-bar-{$js_pageid}"{if $thumb} class="dsn"{/if}>
<div class="head-bar">
<div class="head-bar-back"><a href="{if $back_link}{$back_link}{else}javascript:Dback();" id="back-{$js_pageid}{/if}" data-direction="reverse"><img src="{DM_SKIN}icon-back{$wh}.png" width="24" height="24"/></a></div>
<div class="head-bar-title">
	<div class="head-menu" id="head-menu-{$js_pageid}">
	<ul>
		<li name="top" class="on">信息</li>
		<li name="title">详情</li>
		<li name="contact">联系</li>
		<li name="list">推荐</li>
	</ul>
	</div>
</div>
<div class="head-bar-right"><a href="javascript:Dpop('{$js_pageid}');"><img src="{DM_SKIN}icon-sheet{$wh}.png" width="24" height="24"/></a></div>
</div>
<div class="head-bar-fix" id="load-fix-{$js_pageid}" style="height:0;"></div>
{if !$thumb}<div class="head-bar-fix" id="head-fix-{$js_pageid}"></div>{/if}
</div>

<div class="head-ico-left" id="ico-left-{$js_pageid}"><a href="javascript:;" onclick="if($('#back-{$js_pageid}').attr('href').indexOf('javascript:')==-1){Go($('#back-{$js_pageid}').attr('href'));}else{Dback();}" data-direction="reverse"><img src="{DM_SKIN}icon-back.png" width="16" height="16"/></a></div>
<div class="head-ico-right" id="ico-right-{$js_pageid}"><a href="javascript:Dpop('{$js_pageid}');"><img src="{DM_SKIN}icon-sheet.png" width="16" height="16"/></a></div>

<div class="ui-viewer" id="viewer-{$js_pageid}"></div>

<div class="ui-pop" id="pop-{$js_pageid}">
<i></i>
<div>
{if $could_message}<a href="{$MOD[mobile]}{rewrite('message.php?itemid='.$itemid)}" data-transition="slideup">留言咨询</a>{/if}
<a href="{DT_MOB}api/share.php?mid={$moduleid}&itemid={$itemid}" data-transition="slideup">分享好友</a>
<a href="{$MOD[mobile]}" data-direction="reverse">{$MOD[name]}首页</a>
<a href="{DT_MOB}{rewrite('channel.php?mid='.$moduleid)}" data-transition="none">{$MOD[name]}分类</a>
<a href="{DT_MOB}channel.php" data-direction="reverse">切换频道</a>
</div>
</div>

{if $thumb}{template 'album', 'chip'}{/if}
<div class="title" id="title-{$js_pageid}"><h1>{$title}</h1></div>
{if $islink}
<div class="info"><i class="ui-ico-time">{$editdate}</i>{if $MOD[ip]}<i class="ui-ico-area">IP属地 {ip2area($ip, $MOD[ip])}</i>{/if}</div>
<div class="content"><a href="{$linkurl}" rel="external" class="b">{$linkurl}</a><br/></div>
{else}
<div class="info"><i class="ui-ico-time">{$editdate}</i>{if $MOD[ip]}<i class="ui-ico-area">IP属地 {ip2area($ip, $MOD[ip])}</i>{/if}{if $MOD[hits]}<i class="ui-ico-hits" id="hits">{$hits}</i>{/if}<i class="ui-ico-info ui-fr">{$messages}留言</i></div>
<div class="content" data-content="{$js_pageid}">
{if $n1 && $v1}{$n1}:{$v1}<br/>{/if}
{if $n2 && $v2}{$n2}:{$v2}<br/>{/if}
{if $n3 && $v3}{$n3}:{$v3}<br/>{/if}
{$content}
</div>
{/if}
<div class="tool">
{if $MOD[show_like]}<div class="like" onclick="Dlike({$moduleid}, {$itemid}, 0);">点赞 <b id="like-{$moduleid}-{$itemid}-0">{$likes}</b></div>{/if}
{if $MOD[show_hate]}<div class="hate" onclick="Dhate({$moduleid}, {$itemid}, 0);">反对 <b id="hate-{$moduleid}-{$itemid}-0">{$hates}</b></div>{/if}
{if $MOD[show_report]}<div class="report" onclick="Dreport({$moduleid}, {$itemid}, 0);">举报</div>{/if}
{if $MOD[show_favorite]}<div class="favorite" onclick="Dfavor({$moduleid}, {$itemid});">收藏 <b>{$favorites}</b></div>{/if}
{if $MOD[fee_award]}<div class="award" onclick="Go('{$MODULE[2][mobile]}award.php?mid={$moduleid}&itemid={$itemid}');">打赏 <b>{$awards}</b></div>{/if}
{if $could_comment}<div class="comment" onclick="Go('{$EXT[comment_mob]}{rewrite('index.php?mid='.$moduleid.'&itemid='.$itemid)}');">评论 <b>{$comments}</b></div>{/if}
{if $MOD[show_share]}<div class="share" onclick="Go('{DT_MOB}api/share.php?mid={$moduleid}&itemid={$itemid}');">分享 <b>{$shares}</b></div>{/if}
</div>
<div class="ui-head" id="contact-{$js_pageid}"><i></i><b>联系方式</b></div>
<div class="contact" data-contact="{$js_pageid}">{template 'contact', 'chip'}</div>
<div id="list-{$js_pageid}" class="ui-main">
	<div class="blank-10"></div>
	{if $username}
	<!--{tag("moduleid=$moduleid&condition=status=3 and username='$username'&order=messages desc&pagesize=10&itemid=$itemid&template=list-info")}-->
	{else}
	<!--{tag("moduleid=$moduleid&condition=status=3&catid=$catid&areaid=$cityid&order=messages desc&pagesize=10&itemid=$itemid&template=list-info")}-->
	{/if}
</div>
	
{if $could_message}
<div class="foot-bar-fix main"></div>
<div class="foot-btn">
<ul>
<li></li>
<li><a href="{$MOD[mobile]}{rewrite('message.php?itemid='.$itemid)}"><div class="btn-blue">留言咨询</div></a></li>
<li></li>
</ul>
</div>
{/if}

<script type="text/javascript">$(function(){Dscroll('{$js_pageid}');});</script>
{template 'footer'}