{template 'header', $template}
<div id="head-bar">
<div class="head-bar">
<div class="head-bar-back"><a href="{if $back_link}{$back_link}{else}javascript:Dback();" id="back-{$js_pageid}{/if}" data-direction="reverse"><img src="{DM_SKIN}icon-back{$wh}.png" width="24" height="24"/></a></div>
<div class="head-bar-title">{if $head_name}{$head_name}{else}{$DMENU[3]}{/if}</div>
<div class="head-bar-right"><a href="javascript:Dmenu('{$file}-{$js_pageid}');"><img src="{DM_SKIN}icon-{if $TYPE}action{else}search{/if}{$wh}.png" width="24" height="24"/></a></div>
</div>
<div class="head-bar-fix" id="load-fix-{$js_pageid}" style="height:0;"></div>
<div class="head-bar-fix" id="head-fix-{$js_pageid}"></div>
</div>
<div id="{$file}-{$js_pageid}" class="main"{if !$kw} style="display:none;"{/if}>
<div class="ui-form-search">
<form action="{$MODULE[4][mobile]}index.php">
<input type="hidden" name="homepage" value="{$username}"/>
<input type="hidden" name="file" value="{$file}"/>
<div><input type="search" name="kw" value="{$kw}" placeholder="{$L[kw]}"/></div>
</form>
</div>
{if $TYPE}
<div class="list-set">
<ul>
{if $itemid || $typeid || $kw}<li><div><a href="{userurl($username, 'file='.$file, $domain)}">全部新闻</a></div></li>{/if}
{loop $_TP[0] $v0}
<li{if $typeid==$v0[typeid]} style="background:#F6F6F6;"{/if}><div><a href="{userurl($username, 'file='.$file.'&typeid='.$v0['typeid'], $domain)}">{$v0[typename]}</a></div></li>
{if isset($_TP[1][$v0[typeid]])}
{loop $_TP[1][$v0[typeid]] $v1}
<li{if $typeid==$v1[typeid]} style="background:#F6F6F6;"{/if}><div><a href="{userurl($username, 'file='.$file.'&typeid='.$v1['typeid'], $domain)}">&nbsp;&nbsp;&nbsp;&nbsp;{$v1[typename]}</a></div></li>
{/loop}
{/if}
{/loop}
</ul>
</div>
<div class="blank-36 bd-b"></div>
{/if}
</div>
{if $itemid}
<div class="ui-viewer" id="viewer-{$js_pageid}"></div>
<div class="title"><h1>{$title}</h1></div>
<div class="info"><i class="ui-ico-time">{timetodate($addtime, 3)}</i>{if $MOD[ip]}<i class="ui-ico-area">IP属地 {ip2area($ip, $MOD[ip])}</i>{/if}<i class="ui-ico-hits ui-fr">{$hits}</i></div>
<div class="content" data-content="{$js_pageid}">{$content}</div>
{else}
	{if $tags}
	<div id="list-{$js_pageid}" class="main">
		{loop $tags $k $t}
		{if $t[thumb]}
		<div class="ui-list-mix">
		<a href="{$v[linkurl]}"><img src="{$t[thumb]}" alt=""/></a>
		<ul>
		<li><a href="{$t[linkurl]}"><strong>{$t[title]}</strong></a></li>
		<li><p><i class="ui-ico-time">{$t[date]}</i><i class="ui-ico-hits ui-fr">{$t[hits]}</i></p></li>
		</ul>
		</div>
		{else}
		<div class="ui-list-txt">
		<a href="{$t[linkurl]}"><strong>{$t[title]}</strong></a>
		<p><i class="ui-ico-time">{$t[date]}</i><i class="ui-ico-hits ui-fr">{$t[hits]}</i></p>
		</div>
		{/if}
		{/loop}
	</div>
	<div id="load-{$js_pageid}" class="ui-load"></div>
	{else}
	{template 'empty', 'chip'}
	{/if}
{/if}
{if $pages}<div class="pages" id="pages-{$js_pageid}">{$pages}</div>{/if}
{template 'footer', $template}