{template 'header', $template}
<div class="dsn" id="pos_show"><a href="{$COM[linkurl]}">首页</a> <i>&gt;</i> <a href="{$MENU[$menuid][linkurl]}">{$MENU[$menuid][name]}</a>{if $itemid} <i>&gt;</i> {$title}{/if}</div>
<div class="main_head"><div>{if $itemid}<span class="f_r"><a href="{$MENU[$menuid][linkurl]}"><img src="{DT_STATIC}image/ico-list-mix.png" width="16" height="16" title="返回列表" align="absmiddle"/></a></span>{/if}<strong>{$MENU[$menuid][name]}</strong></div></div>
<div class="main_body">
{if $itemid}
	<div class="title">{$title}</div>
	<div class="info"><i class="ui-ico-time">{$editdate}</i>{if $MOD[ip]}<i class="ui-ico-area">IP属地 {ip2area($ip, $MOD[ip])}</i>{/if}{if $MOD[hits]}<i class="ui-ico-hits ui-fr">{$hits}</i>{/if}</div>
	{if $CP}{template 'property_show', 'chip'}{/if}
	<div class="content" id="content">{$content}</div>
	{if $reply}<center><input type="button" value="查看{$reply}回复" class="btn-act" onclick="Go('{$linkurl}');"/></center><br/>{/if}
	<script type="text/javascript">var content_id = 'content';	var img_max_width = 900;</script>
	{load('content.js')}
</div>
{else}
	{if $lists}
	<div class="list-mix">
	<table cellpadding="6" cellspacing="0">
	<tr>
	<th>主题</th>
	<th width="100">回复</th>
	<th width="120">日期</th>
	</tr>
	{loop $lists $k $v}
	<tr align="center">
	<td><p>&middot; <a href="{$v[linkurl]}">{$v[title]}</a></p></td>
	<td class="f_grey">{$v[reply]}</td>
	<td class="f_grey">{timetodate($v[addtime], 3)}</td>
	</tr>
	{/loop}
	</table>
	</div>
	{else}
	<div class="list-none">暂无记录</div>
	{/if}
	{if $pages}<div class="pages">{$pages}</div>{/if}
{/if}
</div>
{template 'footer', $template}