{template 'header', 'member'}
<div id="head-bar">
<div class="head-bar">
<div class="head-bar-back"><a href="{if $back_link}{$back_link}{else}javascript:Dback();" id="back-{$js_pageid}{/if}" data-direction="reverse"><img src="{DM_SKIN}icon-back{$wh}.png" width="24" height="24"/></a>{if $action=='index' || !$action}<a href="javascript:Dmenu('search-{$js_pageid}');"><img src="{DM_SKIN}icon-search{$wh}.png" width="24" height="24"/></a>{/if}</div>
<div class="head-bar-title">{$MOD[name]}{if $action=='add'}发布{elseif $action=='edit'}修改{else}管理{/if}</div>
<div class="head-bar-right">
{if $action=='add' || $action=='edit'}
<a href="?mid={$mid}&status=3"><img src="{DM_SKIN}icon-cancel{$wh}.png" width="24" height="24"/></a>
{else}
<a href="?mid={$mid}&action=add"><img src="{DM_SKIN}icon-add{$wh}.png" width="24" height="24"/></a>
{/if}
<a href="javascript:Dpop('{$js_pageid}');"><img src="{DM_SKIN}icon-sheet{$wh}.png" width="24" height="24"/></a>
</div>
</div>
<div class="head-bar-fix" id="load-fix-{$js_pageid}" style="height:0;"></div>
<div class="head-bar-fix" id="head-fix-{$js_pageid}"></div>
</div>

<div class="ui-pop" id="pop-{$js_pageid}">
<i></i>
<div>
<a href="?mid={$mid}&action=add" data-transition="none">{$MOD[name]}发布</a>
<a href="?mid={$mid}&action=index" data-transition="none">{$MOD[name]}管理</a>
<a href="?action=index" data-direction="reverse">切换频道</a>
</div>
</div>

{if $action=='add' || $action=='edit'}
{load('webuploader.min.js')}
{load('url2video.js')}
{load('player.js')}
<div class="ui-form">
<iframe src="" name="send" id="send" style="display:none;"></iframe>
<form method="post" action="?" id="dform" target="send" data-ajax="false" onsubmit="return check();">
<input type="hidden" name="action" value="{$action}"/>
<input type="hidden" name="mid" value="{$mid}"/>
<input type="hidden" name="itemid" value="{$itemid}"/>
<input type="hidden" name="forward" value="{$forward}"/>
<input type="hidden" name="post[linkurl]" value="{$linkurl}"/>
<p>所属分类<i>*</i><b id="dcatid"></b></p>
<div>{ajax_category_select('post[catid]', '选择分类', $catid, $moduleid)}</div>
{if $CP}
<script type="text/javascript">
var property_catid = {$catid};
var property_itemid = {$itemid};
var property_admin = 0;
</script>
{load('property.js')}
<section id="load_property" style="display:none;"></section>
{/if}
<p>{$MOD[name]}标题<i>*</i><b id="dtitle"></b></p>
<div><input name="post[title]" type="text" id="title" value="{$title}"/></div>
<p>标题图片<i>*</i><b id="dthumb"></b></p>
<div>
<input type="hidden" name="post[thumb]" id="thumb"/>
<div class="ui-form-thumb-show" onclick="thumb_action();"></div>
<div class="ui-form-thumb-upload"><div id="thumb-picker"></div></div>
</div>
<p>{$MOD[name]}地址<i>*</i><b id="dvideo"></b></p>
<div>
<input type="text" name="post[video]" value="{$video}" id="video" onblur="$('#player').html('');"/>
<div class="ui-form-file-upload"><div id="file-picker"></div></div>
<div class="ui-form-video" id="player" onclick="Dplay();"></div>
<script type="text/javascript">
var fileu = WebUploader.create({
	auto: true,
    server: UPPath+'?moduleid={$moduleid}&action=webuploader&from=file',
    pick: '#file-picker',
    accept: {
		title: 'video',
		extensions: '{str_replace('|', ',', $MOD['upload'])}', 
		mimeTypes: 'video/*'
    },
	fileNumLimit: 1,
    resize: false
});
fileu.on('beforeFileQueued', function(file) {
	var exts = fileu.options.accept[0].extensions;
	if((','+exts).indexOf(','+ext(file.name)) == -1) {
		alert(L['upload_ext']+ext(file.name)+' '+L['upload_allow']+exts);
		return false;
	}
});
fileu.on('fileQueued', function(file) {
    Dtoast('{$js_pageid}',L['uploading'], '', 30);
});
fileu.on('uploadProgress', function(file, percentage) {
	var p = parseInt(percentage * 100);
	$('#toast-{$js_pageid}').html(p > 99 ? L['processing'] : L['uploading']+p+'%');
});
fileu.on( 'uploadSuccess', function(file, data) {
	if(data.error) {
		Dtoast('{$js_pageid}',data.message, '', 5);
	} else {
		$('#video').val(data.url);
		$('#player').html('');
		/*duration*/
		var url = data.url;
		if(ext(url) == 'mp4' || ext(url) == 'mp3') {
			var audio = new Audio(url);
			audio.addEventListener("loadedmetadata", function (e) {
				if(audio.duration) Dd('duration').value = parseInt(audio.duration);
			});
		}
	}
});
fileu.on( 'uploadError', function(file, data) {
    Dtoast('{$js_pageid}',data.message, '', 5);
});
fileu.on('uploadComplete', function(file) {
    $('#toast-{$js_pageid}').hide();
});
function Dplay() {
	UpdateURL();
	var url = Dd('video').value;
	if(url.length > 5) {
		var w = parseInt(Dd('width').value);
		var h = parseInt(Dd('height').value);
		if(w < 100 || h < 100) {
			Dtoast('{$js_pageid}', '视频宽度或高度不能小于100');
			return;
		}
		if($('#player').html().indexOf(url) == -1) {
			h = parseInt(($(document).width()-48)*h/w);
			$('#player').css('height', h+'px');
			$('#player').html(player(url,'100%',h,1));
		}
	} else {
		Dtoast('{$js_pageid}', '视频地址为空');
	}
}
function UpdateURL() {
	var str = url2video(Dd('video').value);
	if(str) Dd('video').value = str;
	var url = Dd('video').value;
	if(!Dd('duration').value && (ext(url) == 'mp4' || ext(url) == 'mp3')) {
		var audio = new Audio(url);
		audio.addEventListener("loadedmetadata", function (e) {
			if(audio.duration) Dd('duration').value = parseInt(audio.duration);
		});
	}
}
</script>
</div>
<p>{$MOD[name]}参数</p>
<div>
宽度 <input name="post[width]" id="width" type="tel" value="{$width}" style="width:80px;"/> px &nbsp; 
<select onchange="if(this.value){var tmp=this.value.split('|');Dd('width').value=tmp[0];Dd('height').value=tmp[1];}">
<option value="">常用尺寸</option>
<option value="4096|2160"{if $width==4096&&$height==2160} selected{/if}>4K 超清</option>
<option value="1920|1080"{if $width==1920&&$height==1080} selected{/if}>1080P 高清</option>
<option value="1280|720"{if $width==1280&&$height==720} selected{/if}>720P 高清</option>
<option value="720|480"{if $width==720&&$height==480} selected{/if}>480P 清晰</option>
<option value="480|360"{if $width==480&&$height==360} selected{/if}>360P 流畅</option>
</select>
<div style="padding:10px 0;">高度 <input name="post[height]" id="height" type="tel" value="{$height}" style="width:80px;"/> px &nbsp; <img src="{DM_SKIN}ico-spread.png" width="16" height="16" align="absmiddle" onclick="var swc=Dd('width').value;Dd('width').value=Dd('height').value;Dd('height').value=swc;"/></div>
时长 <input name="post[duration]" id="duration" type="tel" value="{$duration}" style="width:80px;"/> 秒
</div>
<p>{$MOD[name]}专辑</p>
<div><input name="post[album]" id="album" type="text" value="{$album}"/></div>
{if $FD}{fields_html('', '', $item)}{/if}
<p>详细内容<b id="dcontent"></b></p>
</div>
<input type="hidden" name="post[content]" id="content"/>
<ul class="ui-editor-toolbar">
<li class="ui-editor-img"><div id="editor-picker"></div></li>
<li class="ui-editor-bold"><input type="button" value=" " editor-action="bold"/>B</li>
<li class="ui-editor-italic"><input type="button" value=" " editor-action="italic"/>I</li>
<li class="ui-editor-underline"><input type="button" value=" " editor-action="underline"/>U</li>
</ul>
<div class="ui-editor-content" id="editor">{$content}</div>
{load('editor.js')}
<script type="text/javascript">
$(function(){
    $('#editor').DEditor({
        editorid: 'editor',
        textareaid: 'content',
        server: UPPath+'?moduleid={$moduleid}&action=webuploader&from=editor'
    });
});
</script>
<div class="ui-form">
<p>关键词(Tag){if $DT[split_appcode]}<b><a href="javascript:;" onclick="CloudSplit('title', 'tag');" class="b">生成</a></b>{/if}</p>
<div><input type="text" name="post[tag]" value="{$tag}" id="tag"/></div>
{if $fee_add}
<p>发布此信息需消费</p>
<div><span class="f_b f_red">{$fee_add}</span> {$fee_unit}</div>
{if $fee_currency == 'money'}
<p>{$DT[money_name]}余额</p>
<div><span class="f_blue f_b">{$_money}{$fee_unit}</span> <a href="charge.php?action=pay" class="b">[充值]</a></div>
{else}
<p>{$DT[credit_name]}余额</p>
<div><span class="f_blue f_b">{$_credit}{$fee_unit}</span> <a href="credit.php?action=buy" class="b">[购买]</a></div>
{/if}
{/if}
{if $need_password}
<p>支付密码<i>*</i><b id="dpassword"></b></p>
<div>{template 'payword', 'chip'}</div>
{/if}
{if $need_question}
<p>验证问题<i>*</i><b id="danswer"></b></p>
<div>{template 'question', 'chip'}</div>
{/if}
{if $need_captcha}
<p>验证码<i>*</i><b id="dcaptcha"></b></p>
<div>{template 'captcha', 'chip'}</div>
{/if}
{if $action=='add'}
<section style="display:none;" id="weibo_sync">
<p>同步主题</p>
<div id="weibo_show"></div>
</section>
{/if}
{if $MOD[tip_add]}
<p>规则说明</p>
<s>{$MOD[tip_add]}</s>
{/if}
<div class="blank-16"></div>
<input type="submit" name="submit" value="{if $action == 'edit'}修改{else}发布{/if}" class="btn-blue"/>
<div class="blank-32"></div>
</div>
</form>
<script type="text/javascript">
function thumb_action() {
	Dsheet('{$js_pageid}','<a href="javascript:thumb_delete();void(0);"><span style="color:red;">删除图片</span></a>', '取消', '确定要删除图片吗？');
}
function thumb_delete() {
	$('#thumb').val('');
	$('.ui-form-thumb-show').html('');
	$('.ui-form-thumb-show').hide();
	$('.ui-form-thumb-upload').show();	
}
function thumb_show(url) {
	$('#thumb').val(url);
	$('.ui-form-thumb-show').html('<img src="'+url+'"/>');
	$('.ui-form-thumb-show').show();
	$('.ui-form-thumb-upload').hide();	
}
var thumbu = WebUploader.create({
	auto: true,
    server: UPPath+'?moduleid={$moduleid}&action=webuploader&from=thumb&width={$MOD[thumb_width]}&height={$MOD[thumb_height]}',
    pick: '#thumb-picker',
    accept: {
        title: 'Images',
        extensions: 'jpg,jpeg,png,gif,bmp',
        mimeTypes: 'image/*'
    },
    resize: false
});
thumbu.on('beforeFileQueued', function(file) {
	var exts = thumbu.options.accept[0].extensions;
	if((','+exts).indexOf(','+ext(file.name)) == -1) {
		alert(L['upload_ext']+ext(file.name)+' '+L['upload_allow']+exts);
		return false;
	}
});
thumbu.on('fileQueued', function(file) {
    Dtoast('{$js_pageid}',L['uploading'], '', 30);
});
thumbu.on('uploadProgress', function(file, percentage) {
	var p = parseInt(percentage * 100);
	$('#toast-{$js_pageid}').html(p > 99 ? L['processing'] : L['uploading']+p+'%');
});
thumbu.on('uploadSuccess', function(file, data) {
    if(data.error) {
		Dtoast('{$js_pageid}',data.message, '', 5);
	} else {
		thumb_show(data.url);
	}
});
thumbu.on('uploadError', function(file, data) {
    Dtoast('{$js_pageid}',data.message, '', 5);
});
thumbu.on('uploadComplete', function(file) {
    $('#toast-{$js_pageid}').hide();
});
{if $thumb}
$(function(){
	thumb_show('{$thumb}');
});
{/if}
</script>
{load('clear.js')}
{else}
{if $_userid}
<script type="text/javascript">$(function(){Stabs('{$js_pageid}');});</script>
<div class="list-menu" id="tabs-{$js_pageid}">
	<ul>
	<a href="?mid={$mid}&job=reply&status=3"><li{if $status==3} class="on"{/if} id="s3">已发布{if !$kw} <i>{$nums[3]}</i>{/if}</li></a>
	<a href="?mid={$mid}&job=reply&status=2"><li{if $status==2} class="on"{/if} id="s2">审核中{if !$kw} <i>{$nums[2]}</i>{/if}</li></a>
	<a href="?mid={$mid}&job=reply&status=1"><li{if $status==1} class="on"{/if} id="s1">未通过{if !$kw} <i>{$nums[1]}</i>{/if}</li></a>
	</ul>
</div>
{/if}

<div id="search-{$js_pageid}" class="main"{if !$kw} style="display:none;"{/if}>
<div class="ui-form-search">
<form action="?">
<input type="hidden" name="mid" value="{$mid}"/>
<input type="hidden" name="status" value="{$status}"/>
<div><input type="search" name="kw" value="{$kw}" placeholder="{$L[kw]}"/></div>
</form>
</div>
</div>

<form method="post">
{if $lists}
{loop $lists $v}
<div class="list-img">
<input type="checkbox" name="itemid[]" value="{$v[itemid]}" class="dsn" id="checkbox-{$v[itemid]}"/>
<a href="{$v[linkurl]}"><img src="{if $v[thumb]}{$v[thumb]}{else}{DM_SKIN}80x60.png{/if}" width="80" height="60" alt="" onerror="this.src='{DM_SKIN}80x60.png';"/></a>
<ul>
<li><em class="check" id="check-{$v[itemid]}"></em><a href="?mid={$mid}&action=edit&itemid={$v[itemid]}" rel="external"><strong>{$v[title]}</strong></a></li>
<li><em class="sheet" id="sheet-{$v[itemid]}"></em><span>{$v[date]}</span></li>
</ul>
</div>
{/loop}
{else}
	<div class="list-none">{if $kw}未搜索到“{$kw}”相关结果{else}暂无记录{/if}</div>
{/if}
{if $show_limit}
<div class="limit">
{if $mod_limit}
总共可发 <span class="f_b f_red">{$mod_limit}</span> 条&nbsp;&nbsp;&nbsp;
当前已发 <span class="f_b">{$limit_used}</span> 条&nbsp;&nbsp;&nbsp;
还可以发 <span class="f_b f_blue">{$limit_free}</span> 条&nbsp;&nbsp;&nbsp;
{/if}
{if !$MG[fee_mode] && $MOD[fee_add]}
发布信息收费 <span class="f_b f_red">{$MOD[fee_add]}</span> {if $MOD[fee_currency] == 'money'}{$DT[money_unit]}{else}{$DT[credit_unit]}{/if}/条&nbsp;&nbsp;&nbsp;
可免费发布 <span class="f_b">{if $mod_free_limit<0}无限{else}{$mod_free_limit}{/if}</span> 条&nbsp;&nbsp;&nbsp;
{/if}
</div>
{/if}
{if $pages}<div class="pages" id="pages-{$js_pageid}">{$pages}</div>{/if}
<div id="foot-bar" class="dsn">
<div class="foot-bar-fix"></div>
<div class="foot-bar btns">
{if $MG[delete]}<input type="submit" name="submit" value="删除选中" class="btn-red" onclick="if(confirm('确定要删除选中{$MOD[name]}吗？')){this.form.action='?mid={$mid}&status={$status}&action=delete'}else{return false;}"/>{/if}
</div>
</div>
</form>
<script type="text/javascript">
$(function(){
	if($('#foot-bar input').length == 0) $('.check').hide();
	$('.list-img em').click(function() {
		if($(this).attr('class') == 'sheet') {
			var id = $(this).attr('id').replace('sheet-', '');
			Dsheet('{$js_pageid}','<a href="?mid={$mid}&action=edit&itemid='+id+'"><span>修改</span></a>{if $MG[delete]}|<a href="?mid={$mid}&action=delete&itemid='+id+'" onclick="return _delete();"><span style="color:red;">删除</span></a>{/if}', '取消');
		} else {
			var id = $(this).attr('id').replace('check-', '');
			if($('#checkbox-'+id).attr('checked')) {
				$('#checkbox-'+id).attr('checked', false);
				$(this).attr('class', 'check');
			} else {
				$('#checkbox-'+id).attr('checked', true);
				$(this).attr('class', 'checked');
			}
			if($('.checked').length > 0) {
				$('#foot-bar').fadeIn(300);
			} else {
				$('#foot-bar').fadeOut(300);
			}
		}
	});
});
</script>
{/if}
{if $action == 'add' || $action == 'edit'}
<script type="text/javascript">
function check() {
	var l;
	var f;
	f = 'catid_1';
	if(Dd(f).value == 0) {
		Dmsg('请选择所属分类', 'catid', 1);
		return false;
	}
	f = 'title';
	l = Dd(f).value.length;
	if(l < 2) {
		Dmsg('标题最少2字，当前已输入'+l+'字', f);
		return false;
	}
	f = 'thumb';
	l = Dd(f).value.length;
	if(l < 10) {
		Dmsg('请上传标题图片', f);
		return false;
	}
	UpdateURL();
	f = 'video';
	l = Dd(f).value.length;
	if(l < 10) {
		Dmsg('请填写视频地址', f);
		return false;
	}
	if(!Dd('width').value) {
		Dmsg('请填写视频宽度', 'size');
		return false;
	}
	if(!Dd('height').value) {
		Dmsg('请填写视频高度', 'size');
		return false;
	}
	{if $FD}{fields_js()}{/if}
	{if $CP}{property_js()}{/if}
{if $need_password}
	f = 'password';
	l = Dd(f).value.length;
	if(l < 6) {
		Dmsg('请填写支付密码', f);
		return false;
	}
{/if}
{if $need_question}
	f = 'answer';
	if($('#c'+f).html().indexOf('ok.png') == -1) {
		Dmsg('请填写正确的验证问题', f);
		return false;
	}
{/if}
{if $need_captcha}
	f = 'captcha';
	if($('#c'+f).html().indexOf('ok.png') == -1) {
		Dmsg('请填写正确的验证码', f);
		return false;
	}
{/if}
	return true;
}
function UpdateURL() {
	var str = url2video(Dd('video').value);
	if(str) Dd('video').value = str;
}
var destoon_oauth = '{$EXT[oauth]}';
</script>
{/if}
{if $action=='add' && strlen($EXT[oauth]) > 1}{load('weibo.js')}{/if}
{template 'footer', 'member'}