{template 'header', 'member'}
<div id="head-bar">
<div class="head-bar">
<div class="head-bar-back"><a href="{if $back_link}{$back_link}{else}javascript:Dback();" id="back-{$js_pageid}{/if}" data-direction="reverse"><img src="{DM_SKIN}icon-back{$wh}.png" width="24" height="24"/></a>{if $action=='index' || !$action}<a href="javascript:Dmenu('search-{$js_pageid}');"><img src="{DM_SKIN}icon-search{$wh}.png" width="24" height="24"/></a>{/if}</div>
<div class="head-bar-title">{$head_name}</div>
<div class="head-bar-right">
{if $action=='add' || $action=='edit'}
<a href="?action=index"><img src="{DM_SKIN}icon-cancel{$wh}.png" width="24" height="24"/></a>
{else}
<a href="?action=add"><img src="{DM_SKIN}icon-add{$wh}.png" width="24" height="24"/></a>
{/if}
<a href="javascript:Dpop('{$js_pageid}');"><img src="{DM_SKIN}icon-sheet{$wh}.png" width="24" height="24"/></a>
</div>
</div>
<div class="head-bar-fix" id="load-fix-{$js_pageid}" style="height:0;"></div>
<div class="head-bar-fix" id="head-fix-{$js_pageid}"></div>
</div>

<div class="ui-pop" id="pop-{$js_pageid}">
<i></i>
<div>
<a href="?action=add" data-transition="none">添加新闻</a>
<a href="?action=index" data-transition="none">新闻管理</a>
<a href="javascript:;" onclick="Dwidget('{$js_pageid}', 'type.php?item=news', '新闻分类');">新闻分类</a>
<a href="biz.php" data-direction="reverse">商户后台</a>
</div>
</div>

<div class="ui-widget" id="widget-{$js_pageid}"></div>

{if $action=='add' || $action=='edit'}
{load('webuploader.min.js')}
{load('member.js')}
<iframe src="" name="send" id="send" style="display:none;"></iframe>
<form method="post" action="?" id="dform" target="send" data-ajax="false" onsubmit="return check();">
<input type="hidden" name="action" value="{$action}"/>
<input type="hidden" name="itemid" value="{$itemid}"/>
<input type="hidden" name="forward" value="{$forward}"/>
<input type="hidden" name="post[style]" value="{$style}"/>
<div class="ui-form">
<p>新闻标题<i>*</i><b id="dtitle"></b></p>
<div><input type="text" name="post[title]" id="title" value="{$title}"/></div>
<p>标题图片</p>
<div>
<input type="hidden" name="post[thumb]" id="thumb" value="{$thumb}"/>
<div class="ui-form-thumb-show" onclick="thumb_action();"></div>
<div class="ui-form-thumb-upload"><div id="thumb-picker"></div></div>
<script type="text/javascript">
function thumb_action() {
	Dsheet('{$js_pageid}','<a href="javascript:thumb_delete();void(0);"><span style="color:red;">删除图片</span></a>', '取消', '确定要删除图片吗？');
}
function thumb_delete() {
	$('#thumb').val('');
	$('.ui-form-thumb-show').html('');
	$('.ui-form-thumb-show').hide();
	$('.ui-form-thumb-upload').show();	
}
function thumb_show(url) {
	$('#thumb').val(url);
	$('.ui-form-thumb-show').html('<img src="'+url+'"/>');
	$('.ui-form-thumb-show').show();
	$('.ui-form-thumb-upload').hide();	
} 
var thumbu = WebUploader.create({
	auto: true,
    server: UPPath+'?moduleid={$moduleid}&action=webuploader&from=thumb&width={$MOD[news_thumb_width]}&height={$MOD[news_thumb_height]}',
    pick: '#thumb-picker',
    accept: {
        title: 'Images',
        extensions: 'jpg,jpeg,png,gif,bmp',
        mimeTypes: 'image/*'
    },
    resize: false
});
thumbu.on('beforeFileQueued', function(file) {
	var exts = thumbu.options.accept[0].extensions;
	if((','+exts).indexOf(','+ext(file.name)) == -1) {
		alert(L['upload_ext']+ext(file.name)+' '+L['upload_allow']+exts);
		return false;
	}
});
thumbu.on('fileQueued', function(file) {
    Dtoast('{$js_pageid}',L['uploading'], '', 30);
});
thumbu.on('uploadProgress', function(file, percentage) {
	var p = parseInt(percentage * 100);
	$('#toast-{$js_pageid}').html(p > 99 ? L['processing'] : L['uploading']+p+'%');
});
thumbu.on('uploadSuccess', function(file, data) {
    if(data.error) {
		Dtoast('{$js_pageid}',data.message, '', 5);
	} else {
		thumb_show(data.url);
	}
});
thumbu.on('uploadError', function(file, data) {
    Dtoast('{$js_pageid}',data.message, '', 5);
});
thumbu.on('uploadComplete', function(file) {
    $('#toast-{$js_pageid}').hide();
});
{if $thumb}
$(function(){
	thumb_show('{$thumb}');
});
{/if}
</script>
</div>
<p>新闻内容<i>*</i><b id="dcontent"></b></p>
</div>
<input type="hidden" name="post[content]" id="content"/>
<ul class="ui-editor-toolbar">
<li class="ui-editor-img"><div id="editor-picker"></div></li>
<li class="ui-editor-bold"><input type="button" value=" " editor-action="bold"/>B</li>
<li class="ui-editor-italic"><input type="button" value=" " editor-action="italic"/>I</li>
<li class="ui-editor-underline"><input type="button" value=" " editor-action="underline"/>U</li>
</ul>
<div class="ui-editor-content" id="editor">{$content}</div>
{load('editor.js')}
<script type="text/javascript">
$(function(){
    $('#editor').DEditor({
        editorid: 'editor',
        textareaid: 'content',
        server: UPPath+'?moduleid={$moduleid}&action=webuploader&from=editor'
    });
});
</script>
<div class="ui-form">
<p>新闻分类</p>
<div><span id="type_box">{$type_select}</span><a href="javascript:var type_item='news-{$_userid}',type_name='post[typeid]',type_default='{$L[default_type]}',type_id={$typeid},type_interval=setInterval('type_reload()',500);Dwidget('{$js_pageid}','type.php?item=news', '新闻分类');"><img src="{DM_SKIN}icon-sort.png" style="width:16px;height:16px;padding:0 16px;opacity:0.5;"/></a></div>
{if $action=='add' && $MOD[credit_add_news] < 0}
<p>发布此信息需消费</p>
<div><span class="f_b f_red">{abs($MOD[credit_add_news])}</span> {$DT[credit_unit]}{$DT[credit_name]}</div>
<p>{$DT[credit_name]}余额</p>
<div><span class="f_blue f_b">{$_credit}{$DT[credit_unit]}</span> <a href="credit.php?action=buy" class="b">[购买]</a></div>
{/if}
{if $action=='add'}
<section style="display:none;" id="weibo_sync">
<p>同步主题</p>
<div id="weibo_show"></div>
</section>
{/if}
<div class="blank-16"></div>
<input type="submit" name="submit" value="{if $action == 'edit'}修改{else}添加{/if}" class="btn-blue"/>
<div class="blank-32"></div>
</div>
</form>
{else}
<script type="text/javascript">$(function(){Stabs('{$js_pageid}');});</script>
<div class="list-menu" id="tabs-{$js_pageid}">
	<ul>
	<a href="?status=3"><li{if $status==3} class="on"{/if} id="s3">已发布{if !$kw} <i>{$nums[3]}</i>{/if}</li></a>
	<a href="?status=2"><li{if $status==2} class="on"{/if} id="s2">审核中{if !$kw} <i>{$nums[2]}</i>{/if}</li></a>
	<a href="?status=1"><li{if $status==1} class="on"{/if} id="s1">未通过{if !$kw} <i>{$nums[1]}</i>{/if}</li></a>
	</ul>
</div>

<div id="search-{$js_pageid}" class="main"{if !$kw} style="display:none;"{/if}>
<div class="ui-form-search">
<form action="?">
<input type="hidden" name="status" value="{$status}"/>
<div><input type="search" name="kw" value="{$kw}" placeholder="{$L[kw]}"/></div>
</form>
</div>
</div>

<form method="post">
{if $lists}
{loop $lists $v}
<div class="list-img">
<input type="checkbox" name="itemid[]" value="{$v[itemid]}" class="dsn" id="checkbox-{$v[itemid]}"/>
<a href="{$v[linkurl]}"><img src="{if $v[thumb]}{$v[thumb]}{else}{DM_SKIN}80x60.png{/if}" width="80" height="60" alt="" onerror="this.src='{DM_SKIN}80x60.png';"/></a>
<ul>
<li><em class="check" id="check-{$v[itemid]}"></em><a href="?action=edit&itemid={$v[itemid]}"><strong>{$v[title]}</strong></a></li>
<li><em class="sheet" id="sheet-{$v[itemid]}"></em><span>{$v[date]}</span></li>
</ul>
</div>
{/loop}
{else}
	<div class="list-none">{if $kw}未搜索到“{$kw}”相关结果{else}暂无记录{/if}</div>
{/if}
{if $MG[news_limit]}
<div class="limit">总共可发 <span class="f_b f_red">{$MG[news_limit]}</span> 条&nbsp;&nbsp;&nbsp;当前已发 <span class="f_b">{$limit_used}</span> 条&nbsp;&nbsp;&nbsp;还可以发 <span class="f_b f_blue">{$limit_free}</span> 条</div>
{/if}
{if $pages}<div class="pages" id="pages-{$js_pageid}">{$pages}</div>{/if}
<div id="foot-bar" class="dsn">
<div class="foot-bar-fix"></div>
<div class="foot-bar btns">
<input type="submit" name="submit" value="删除选中" class="btn-red" onclick="if(confirm('确定要删除选中新闻吗？')){this.form.action='?status={$status}&action=delete'}else{return false;}"/>
</div>
</div>
</form>
<script type="text/javascript">
$(function(){
	if($('#foot-bar input').length == 0) $('.check').hide();
	$('.list-img em').click(function() {
		if($(this).attr('class') == 'sheet') {
			var id = $(this).attr('id').replace('sheet-', '');
			Dsheet('{$js_pageid}','<a href="?action=edit&itemid='+id+'"><span>修改</span></a>|<a href="?action=delete&itemid='+id+'" onclick="return _delete();"><span style="color:red;">删除</span></a>', '取消');
		} else {
			var id = $(this).attr('id').replace('check-', '');
			if($('#checkbox-'+id).attr('checked')) {
				$('#checkbox-'+id).attr('checked', false);
				$(this).attr('class', 'check');
			} else {
				$('#checkbox-'+id).attr('checked', true);
				$(this).attr('class', 'checked');
			}
			if($('.checked').length > 0) {
				$('#foot-bar').fadeIn(300);
			} else {
				$('#foot-bar').fadeOut(300);
			}
		}
	});
});
</script>
{/if}
{if $action=='add' || $action=='edit'}
<script type="text/javascript">
function check() {
	var l;
	var f;
	f = 'title';
	l = Dd(f).value.length;
	if(l < 2) {
		Dmsg('标题最少2字，当前已输入'+l+'字', f);
		return false;
	}
	f = 'content';
	l = EditorLen();
	if(l < 5) {
		Dmsg('内容最少5字，当前已输入'+l+'字', f);
		return false;
	}
	return true;
}
var destoon_oauth = '{$EXT[oauth]}';
</script>
{/if}
{if $action=='add' && strlen($EXT[oauth]) > 1}{load('weibo.js')}{/if}
{template 'footer', 'member'}