{template 'header'}
<div class="m">	
	<div class="nav"><div><a href="{$MOD[linkurl]}search.php"><img src="{DT_SKIN}ico-filter.png" width="16" height="16" title="高级搜索" align="absmiddle"/></a> &nbsp; </div><a href="{$MODULE[1][linkurl]}">首页</a> <i>&gt;</i> <a href="{$MOD[linkurl]}">{$MOD[name]}</a>{if $catid} <i>&gt;</i> {cat_pos($CAT, ' <i>&gt;</i> ')}{/if} <i>&gt;</i> <a href="{$MOD[linkurl]}search.php">搜索</a>{if $DT_QST} <a href="{$MOD[linkurl]}search.php" title="重新搜索"><s></s></a>{/if}</div>
</div>
<div class="m m2">
	<div class="m2l">
		{if $DT_QST}
			<form action="{$MOD[linkurl]}search.php" id="search">
			<input type="hidden" name="kw" value="{$kw}"/>
			<input type="hidden" name="catid" value="{$catid}"/>
			<input type="hidden" name="areaid" value="{$areaid}"/>
			<div class="sort-f">
			{if $maincat}
			<div class="sort">
				<div class="sort-k">行业</div>
				<div class="sort-v">
					<ul>
					<li{if $catid==0} class="on"{/if}><a href="javascript:;" onclick="Dq('catid',0);">全部</a></li>
					{loop $maincat $k $v}
					<li{if $v[catid]==$catid} class="on"{/if}><a href="javascript:;" onclick="Dq('catid', {$v[catid]});">{set_style($v[catname],$v[style])}</a></li>
					{/loop}
					</ul>
				</div>
			</div>
			{/if}
			{if $mainarea}
			<div class="sort">
				<div class="sort-k">地区</div>
				<div class="sort-v">
					<ul>
					<li{if $areaid==0} class="on"{/if}><a href="javascript:;" onclick="Dq('areaid',0);">全部</a></li>
					{loop $mainarea $k $v}
					<li{if $v[areaid]==$areaid} class="on"{/if}><a href="javascript:;" onclick="Dq('areaid', {$v[areaid]});">{$v[areaname]}</a></li>
					{/loop}
					</ul>
				</div>
			</div>
			{/if}
			{if $TYPE}
			<div class="sort">
				<div class="sort-k">类别</div>
				<div class="sort-v">
					<ul>
					<li{if $typeid==99} class="on"{/if}><a href="javascript:;" onclick="Dq('typeid',99);">全部</a></li>
					{loop $TYPE $k $v}
					<li{if $k==$typeid} class="on"{/if}><a href="javascript:;" onclick="Dq('typeid',{$k});">{$v}</a></li>
					{/loop}
					</ul>
				</div>
			</div>
			{/if}
			{if $FD}{template 'fields_search', 'chip'}{/if}
			{if $CP}{template 'property_search', 'chip'}{/if}
			</div>
			</form>

			<form method="post">
			{if $page==1 && $kw}
			{ad($moduleid,$catid,$kw,6)}
			{load('m'.$moduleid.'_k'.urlencode($kw).'.htm')}
			{/if}
			{if $tags}
			<div class="sell_tip" id="sell_tip" style="display:none;" title="双击关闭" ondblclick="Dh(this.id);">
				<div>
					<p>您可以</p>
					<input type="submit" value="对比选中" onclick="this.form.action='{$MOD[linkurl]}compare.php';" class="tool-btn"/> 或 
					<input type="submit" value="批量询价" onclick="this.form.action='{$MOD[linkurl]}inquiry.php';" class="tool-btn"/>
				</div>
			</div>		
			<div class="img_tip" id="img_tip" style="display:none;">&nbsp;</div>
			<div class="tools">
				<table>
				<tr>
				<td width="25" align="center" title="全选/反选"><input type="checkbox" onclick="checkall(this.form);"/></td>
				<td width="10"> </td>
				<td>
					<input type="submit" value="对比选中" onclick="this.form.action='{$MOD[linkurl]}compare.php';" class="tool-btn"/>&nbsp;
					<input type="submit" value="批量询价" onclick="this.form.action='{$MOD[linkurl]}inquiry.php';" class="tool-btn"/>
				</td>
				<td align="right">
				{if $list == 1}
				<img src="{DT_STATIC}image/ico-list-img-on.png" width="16" height="16" alt="图片列表" align="absmiddle"/>&nbsp;
				{else}
				<img src="{DT_STATIC}image/ico-list-img.png" width="16" height="16" alt="图片列表" align="absmiddle" class="c_p" onclick="Dq('list',1);"/>&nbsp;
				{/if}
				{if $list == 0}
				<img src="{DT_STATIC}image/ico-list-mix-on.png" width="16" height="16" alt="图文列表" align="absmiddle"/>&nbsp;
				{else}
				<img src="{DT_STATIC}image/ico-list-mix.png" width="16" height="16" alt="图文列表" align="absmiddle" class="c_p" onclick="Dq('list',0);"/>&nbsp;
				{/if}
				</td>
				</tr>
				</table>
			</div>
			{if $list==1}
			{template 'list-'.$module.'-img', 'tag'}
			{else}
			{template 'list-'.$module, 'tag'}
			{/if}
			<div class="tools">
				<table>
				<tr height="30">
				<td width="25"></td>
				<td>
					<input type="submit" value="对比选中" onclick="this.form.action='{$MOD[linkurl]}compare.php';" class="tool-btn"/>&nbsp;
					<input type="submit" value="批量询价" onclick="this.form.action='{$MOD[linkurl]}inquiry.php';" class="tool-btn"/>
				</td>
				<td></td>
				</tr>
				</table>
			</div>
			{else}
			{template 'empty', 'chip'}
			{/if}
			</form>
		{else}
		<form action="{$MOD[linkurl]}search.php" id="search">
		{if $MOD[sphinx]}
		<div class="sf">
			<div class="sf-k">关键词</div>
			<div class="sf-v"><input type="text" name="kw" value="{$kw}" placeholder="请输入关键词" class="kw"/></div>
		</div>
		<div class="sf">
			<div class="sf-k">行业</div>
			<div class="sf-v">{$category_select}</div>
		</div>
		<div class="sf">
			<div class="sf-k">地区</div>
			<div class="sf-v">{$area_select}</div>
		</div>
		{else}
		<div class="sf">
			<div class="sf-k">类型</div>
			<div class="sf-v">
				{loop $sfields $k $v}
				<label><input type="radio" name="fields" value="{$k}" id="fd_{$k}"{if $fields==$k} checked{/if}/> {$v}</label> &nbsp;
				{/loop}
			</div>
		</div>
		<div class="sf">
			<div class="sf-k">关键词</div>
			<div class="sf-v"><input type="text" name="kw" value="{$kw}" placeholder="请输入关键词" class="kw"/></div>
		</div>
		{if $TYPE}
		<div class="sf">
			<div class="sf-k">信息</div>
			<div class="sf-v">
				<label><input type="radio" name="typeid" value="99" {if $typeid==99} checked{/if}/> 全部</label> &nbsp;
				{loop $TYPE $k $v}
				<label><input type="radio" name="typeid" value="{$k}" {if $typeid==$k} checked{/if}/> {$v}</label> &nbsp;
				{/loop}
			</div>
		</div>
		{/if}
		<div class="sf">
			<div class="sf-k">行业</div>
			<div class="sf-v">{$category_select}</div>
		</div>
		{if $FD}{template 'fields_form', 'chip'}{/if}
		<div class="sf">
			<div class="sf-k">日期</div>
			<div class="sf-v">{dcalendar('fromdate', $fromdate, '')} 至 {dcalendar('todate', $todate, '')}</div>
		</div>
		<div class="sf">
			<div class="sf-k">价格</div>
			<div class="sf-v">
				<input type="text" size="10" name="minprice" value="{$minprice}"/> ~ <input type="text" size="10" name="maxprice" value="{$maxprice}"/> &nbsp;
				<label><input type="checkbox" name="price" id="price" value="1"{if $price} checked{/if}/>标价</label> &nbsp;
				<label><input type="checkbox" name="thumb" id="thumb" value="1"{if $thumb} checked{/if}/>图片</label> &nbsp;
				<label><input type="checkbox" name="vip" id="vip" value="1"{if $vip} checked{/if}/>{VIP}</label> &nbsp;
			</div>
		</div>
		{if $area_select}
		<div class="sf">
			<div class="sf-k">地区</div>
			<div class="sf-v">{$area_select}</div>
		</div>
		{/if}
		<div class="sf">
			<div class="sf-k">排序</div>
			<div class="sf-v">{$order_select}</div>
		</div>
		{/if}
		<div class="sf">
			<div class="sf-k">&nbsp;</div>
			<div class="sf-v"><input type="submit" value="搜 索" class="btn-blue"/></div>
		</div>
		</form>
		{/if}
	</div>
	<div class="m2r">
		{if $kw}
		<div class="head-sub c_p" onclick="$('#mod-list').slideToggle(300);"><span><img src="{DT_SKIN}ico-sort.png" width="16" height="16" align="absmiddle" title="切换频道"/></span><strong>切换频道</strong></div>
		<div class="list-txt dsn" id="mod-list">
			<ul>
			{loop $MODULE $mod}{if $mod[moduleid]>3 && $mod[moduleid]!=$moduleid && !$mod[islink]}<li><a href="{$mod[linkurl]}{rewrite('search.php?kw='.urlencode($kw))}">在 <span class="f_red">{$mod[name]}</span> 找 {$kw}</a></li>{/if}{/loop}
			</ul>
		</div>
		<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and word<>'$kw' and keyword like '%$keyword%'&pagesize=10&order=total_search desc&template=list-search-relate", 0)}-->
		{if $_username}
		<!--{tag("moduleid=$moduleid&table=keyword_record&condition=moduleid=$moduleid and username='$_username'&pagesize=10&order=addtime desc&group=keyword&template=list-search-record", 0)}-->
		{/if}
		{/if}
		<div class="sponsor">{ad($moduleid,$catid,$kw,7)}</div>
		<div class="head-sub"><strong>今日排行</strong></div>
		<div class="list-rank">
			<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$DT_TODAY-86400&pagesize=9&order=today_search desc&key=today_search&template=list-search-rank")}-->
		</div>
		<div class="head-sub"><strong>本周排行</strong></div>
		<div class="list-rank">
			<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$DT_TODAY-86400*7&pagesize=9&order=week_search desc&key=week_search&template=list-search-rank")}-->
		</div>
		<div class="head-sub"><strong>本月排行</strong></div>
		<div class="list-rank">
			<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$DT_TODAY-86400*30&pagesize=9&order=week_search desc&key=week_search&template=list-search-rank")}-->
		</div>
	</div>
	<div class="b10 c_b"></div>
</div>
{template 'footer'}