<!doctype html>
<html>
<head>
<meta charset="{DT_CHARSET}"/>
<title>提示信息{$DT[seo_delimiter]}{$DT[sitename]}</title>
<meta name="robots" content="noindex,nofollow"/>
<script type="text/javascript" src="{DT_PATH}file/script/config.js?v={if DT_DEBUG}{DT_TIME}{else}{DT_REFRESH}{/if}"></script>
</head>
<body>
<script type="text/javascript">
{if $dmessage}alert('{$dmessage}');{/if}
{if $dforward}
	{if $dforward == 'goback'}
		window.history.back();
	{elseif $dforward == 'close'}
		window.close();
	{else}
		window.location='{$dforward}';
	{/if}
{/if}
{$extend}
</script>
</body>
</html>