<!doctype html>
<html>
<head>
<meta charset="{DT_CHARSET}"/>
<title>数据库连接失败{$DT[seo_delimiter]}{$DT[sitename]}</title>
<meta name="robots" content="noindex,nofollow"/>
<style type="text/css">
* {font-size:14px;font-family:Arial,Verdana;}
body {background:#F6F6F6;}
a:link,a:visited,a:active {color:#024893;text-decoration:none;}
a:hover {color:#FF3300;}
div {width:480px;padding:48px;line-height:48px;margin:128px auto;background:#FFFFFF;border-radius:10px;}
</style>
</head>
<body>
<div>
<strong>数据库连接失败(Can not connect to MySQL server)</strong><br/>
系统无法连接到MySQL服务器。<a href="https://www.destoon.com/doc/skill/61.html" target="_blank">点此查看此问题的解决方案</a><br/>
<a href="{DT_PATH}">{$DT[sitename]}</a><br/>
</div>
</body>
</html>