{template 'header'}
<div id="head-bar">
<div class="head-bar">
<div class="head-bar-back"><a href="{if $back_link}{$back_link}{else}javascript:Dback();" id="back-{$js_pageid}{/if}" data-direction="reverse"><img src="{DM_SKIN}icon-back{$wh}.png" width="24" height="24"/></a></div>
<div class="head-bar-title"><input type="search" name="kw" value="{$kw}" placeholder="{$MOD[name]}搜索" readonly onclick="Go('{DT_MOB}api/search.php?mid={$moduleid}&action=group');"/></div>
<div class="head-bar-right"><a href="javascript:Dpop('{$js_pageid}');"><img src="{DM_SKIN}icon-sheet{$wh}.png" width="24" height="24"/></a></div>
</div>
<div class="head-bar-fix" id="load-fix-{$js_pageid}" style="height:0;"></div>
<div class="head-bar-fix" id="head-fix-{$js_pageid}"></div>
</div>

<div class="ui-pop" id="pop-{$js_pageid}">
<i></i>
<div>
<a href="{DT_MOB}{rewrite('channel.php?mid='.$moduleid)}" data-transition="none">{$MOD[name]}分类</a>
<a href="{DT_MOB}channel.php" data-direction="reverse">切换频道</a>
</div>
</div>

<div class="ui-filter">
<a href="{$MOD[mobile]}search.php?elite=1&catid={$catid}&areaid={$areaid}&action=group"><i class="ui-filter-box ui-fr">推荐</i></a>
<i class="ui-filter-dsc on">综合</i>
<a href="{$MOD[mobile]}search.php?orderby=dpost&catid={$catid}&areaid={$areaid}&action=group"><b>主题</b></a>
<a href="{$MOD[mobile]}search.php?orderby=dreply&catid={$catid}&areaid={$areaid}&action=group"><b>回复</b></a>
<a href="{$MOD[mobile]}search.php?orderby=dfans&catid={$catid}&areaid={$areaid}&action=group"><b>粉丝</b></a>
</div>
{if $tags}
<div id="list-{$js_pageid}" class="ui-main">{template 'list-club-group', 'tag'}</div>
<div id="load-{$js_pageid}" class="ui-load"></div>
{else}
{template 'empty', 'chip'}
{/if}
{if $pages}<div class="pages" id="pages-{$js_pageid}">{$pages}</div>{/if}
{template 'footer'}