{template 'header'}
<div id="head-bar">
<div class="head-bar">
<div class="head-bar-back"><a href="{if $back_link}{$back_link}{else}javascript:Dback();" id="back-{$js_pageid}{/if}" data-direction="reverse"><img src="{DM_SKIN}icon-back{$wh}.png" width="24" height="24"/></a></div>
<div class="head-bar-title">无访问权限</div>
<div class="head-bar-right"><a href="{$MOD[mobile]}"><img src="{DM_SKIN}icon-index{$wh}.png" width="24" height="24"/></a></div>
</div>
<div class="head-bar-fix" id="load-fix-{$js_pageid}" style="height:0;"></div>
<div class="head-bar-fix" id="head-fix-{$js_pageid}"></div>
</div>
<div style="background:#FFFFFF url('{DT_STATIC}image/msg-403.png') no-repeat center 0;background-size:256px 256px;">
	<div style="padding:256px 24px 1480px 24px;font-size:14px;">
		<center class="f_gray">抱歉，<a href="{$MOD[mobile]}{$GRP[linkurl]}" class="b">{$GRP[title]}{$MOD[seo_name]}</a>仅成员可以{if $action=='show'}查看帖子{elseif $action=='post'}发帖{elseif $action=='reply'}回复{else}访问{/if} 请{if $_userid}<a href="{$MODULE[2][mobile]}{$DT[file_my]}?mid={$moduleid}&job=join&action=add&gid={$gid}" class="b">加入本圈</a>{else}<a href="{$MODULE[2][mobile]}{$DT[file_login]}" class="b">登录</a>或<a href="{$MODULE[2][mobile]}{$DT[file_register]}" class="b">注册</a>{/if}</center>
	</div>
</div>
{php $foot='';}
{template 'footer'}