{if $user_status == 3}
{if $member}
{if $DT[follow]}
<div class="contact-fw">
<span>联系方式</span>
{if followed($member[userid])}
<div class="follow1" onclick="Dfollow('{$member[username]}');" id="follow-{$member[username]}" title="已关注，点击取消"><b>已关注</b><i>{numtoread($member[fans])}</i></div>
{else}
<div class="follow0" onclick="Dfollow('{$member[username]}');" id="follow-{$member[username]}" title="未关注，点击关注"><b>加关注</b><i>{numtoread($member[fans])}</i></div>
{/if}
</div>
{/if}
<h3><a href="{$member[linkurl]}" target="_blank">{if $member[shop] && $member[vshop]}{$member[shop]}{else}{$member[company]}{/if}</a></h3>
{if $member[vip]}
<div class="contact-vip"><img src="{DT_SKIN}vip_{$member[vip]}.gif" alt="{VIP}" title="{VIP}:{$member[vip]}/10" align="absmiddle"/> &nbsp; <b>{$member[groupname]}</b><span>第{vip_year($member[fromtime])}年</span></div>
{else}
<div class="contact-com"><b>{$member[groupname]}</b><span>第{vip_year($member[regtime])}年</span></div>
{/if}
<div class="contact-vd">
	{if $member[validated]}
	<div class="contact-v1">资料<b>通过{$member[validator]}认证</b></div>
	{else}
	<div class="contact-v0">资料<b>未认证</b></div>
	{/if}
	{if $member[deposit]>0.01}
	<div class="contact-d1">保证金<b>{$DT[money_sign]}{$member[deposit]}</b></div>
	{else}
	<div class="contact-d0">保证金<b>未缴纳</b></div>
	{/if}
</div>
<ul>
	{if $member[areaid]}<li><a href="{DT_PATH}api/address.php?auth={encrypt($member[address].'|'.$member[company].'|'.$member[lng].','.$member[lat], DT_KEY.'MAP')}" target="_blank"><b class="ui-ico-area">{area_pos($member[areaid], '-')}</b></a></li>{/if}
	<li>
	<b class="ui-ico-time">上次登录 {timetoread($member[logintime], 3)}</b>
	{if online($member[userid])==1}
	<span class="contact-ol" title="当前在线">&bull;</span>
	{else}
	<span class="contact-fl" title="当前离线">&bull;</span>
	{/if}
	</li>
	{if $member[mail]}<li><b class="ui-ico-mail">{if $DT[anti_spam]}</b>{anti_spam($member[mail])}{else}{$member[mail]}</b>{/if}</li>{/if}
	{if $member[telephone]}<li><b class="ui-ico-tel">{if $DT[anti_spam]}</b>{anti_spam($member[telephone])}{else}{$member[telephone]}</b>{/if}</li>{/if}
	{if $member[mobile] && $DT[im_mob]}<li><b class="ui-ico-mob">{if $DT[anti_spam]}</b>{anti_spam($member[mobile])}{else}{$member[mobile]}</b>{/if}</li>{/if}
	{if $member[truename]}<li><b class="ui-ico-user">{$member[truename]} ({gender($member[gender])}) &nbsp; {$member[career]}</b></li>{/if}
</ul>
<div class="contact-im">
	{if $member[username] && $DT[im_web]}{im_web($member[username].'&mid='.$moduleid.'&itemid='.$itemid)}{/if}
	<a href="{$MODULE[2][linkurl]}friend.php?action=add&username={$member[username]}" target="_blank"><img src="{DT_STATIC}image/friend-add.gif" width="16" height="16" align="absmiddle" title="加为好友"/></a>
	<a href="{$MODULE[2][linkurl]}message.php?action=send&touser={$member[username]}" target="_blank"><img src="{DT_STATIC}image/msg.gif" width="16" height="16" align="absmiddle" title="发送私信"/></a>
	{if $member[qq] && $DT[im_qq]}{im_qq($member[qq])}{/if}
	{if $member[wx] && $DT[im_wx]}{im_wx($member[wx], $member[username])}{/if}
	{if $member[gzh] && $DT[im_wx]}{im_gzh($member[gzh], $member[username])}{/if}
	{if $member[ali] && $DT[im_ali]}{im_ali($member[ali])}{/if}
	{if $member[skype] && $DT[im_skype]}{im_skype($member[skype])}{/if}
</div>
<div class="contact-btn">
	<a href="{$member[linkurl]}" target="_blank"><span>进入主页</span></a>
	<a href="{userurl($member[username], 'file='.$MOD[moduledir])}" target="_blank"><span>更多{if $MOD[module]=='mall'}商品{else}{$MOD[name]}{/if}</span></a>
</div>
{else}
<h3><a href="{userurl('')}" target="_blank">{$item[company]}</a></h3>
<div class="contact-com"><b>游客</b><span>未注册</span></div>
<div class="contact-vd">
	<div class="contact-v0">资料<b>未认证</b></div>
	<div class="contact-d0">保证金<b>未缴纳</b></div>
</div>
<ul>
	{if $item[areaid]}<li><a href="{DT_PATH}api/address.php?auth={encrypt($item[address].'|'.$item[company], DT_KEY.'MAP')}" target="_blank"><b class="ui-ico-area">{area_pos($item[areaid], '-')}</b></a></li>{/if}
	{if $item[email]}<li><b class="ui-ico-mail">{if $DT[anti_spam]}</b>{anti_spam($item[email])}{else}{$item[email]}</b>{/if}</li>{/if}
	{if $item[telephone]}<li><b class="ui-ico-tel">{if $DT[anti_spam]}</b>{anti_spam($item[telephone])}{else}{$item[telephone]}</b>{/if}</li>{/if}
	{if $item[mobile] && $DT[im_mob]}<li><b class="ui-ico-mob">{if $DT[anti_spam]}</b>{anti_spam($item[mobile])}{else}{$item[mobile]}</b>{/if}</li>{/if}
	{if $item[truename]}<li><b class="ui-ico-user">{$item[truename]}</b></li>{/if}
</ul>
<div class="contact-im">
	{if $item[qq] && $DT[im_qq]}{im_qq($item[qq])}&nbsp;{/if}
	{if $item[wx] && $DT[im_wx]}{im_wx($item[wx], $item[username])}&nbsp;{/if}
	{if $item[ali] && $DT[im_ali]}{im_ali($item[ali])}&nbsp;{/if}
	{if $item[skype] && $DT[im_skype]}{im_skype($item[skype])}&nbsp;{/if}
</div>
<div class="contact-tip">该发布人未在本站注册，信息真实性无法保证，请谨慎选择，建议优先选择<a href="{$MODULE[2][linkurl]}grade.php" class="b">{VIP}会员</a></div>
{/if}
{elseif $user_status == 2}
<div class="px14 t_c">
<table cellpadding="6" cellspacing="6" width="100%">
<tr>
<td class="f_b"><div style="padding:6px;border:#40B3FF 1px solid;background:#E5F5FF;">查看该信息联系方式需支付{$fee_name} <strong class="f_red">{$fee}</strong> {$fee_unit}</div></td>
</tr>
<tr>
<td>我的{$fee_name}余额 <strong class="f_blue">{if $currency=='money'}{$_money}{else}{$_credit}{/if}</strong> {$fee_unit}</td>
</tr>
{if $MOD[fee_period]}
<tr>
<td>支付后可查看<strong class="f_red">{$MOD[fee_period]}</strong>分钟，过期重新计费</td>
</tr>
{/if}
<tr>
<td><input type="button" value="立即支付" class="btn-green" onclick="Go('{$MODULE[2][linkurl]}pay.php?mid={$mid}&itemid={$itemid}');"/></td>
</tr>
</table>
</div>
{elseif $user_status == 1}
<div class="px14 t_c">
<table cellpadding="6" cellspacing="6" width="100%">
<tr>
<td class="f_b"><div style="padding:6px;border:#FFC600 1px solid;background:#FFFEBF;">您的会员级别没有查看联系方式的权限</div></td>
</tr>
<tr>
<td>获得更多商业机会，建议<span class="f_red">升级</span>会员级别</td>
</tr>
{if $DT[telephone]}
<tr>
<td>咨询电话：{$DT[telephone]}</td>
</tr>
{/if}
<tr>
<td><input type="button" value="立即升级" class="btn-green" onclick="Go('{$MODULE[2][linkurl]}grade.php');"/></td>
</tr>
</table>
</div>
{elseif $user_status == 0}
<br/>
<div class="px14 t_c">
<table cellpadding="5" cellspacing="5" width="100%">
<tr>
<td class="f_b">
<div style="padding:6px;border:#FFC600 1px solid;background:#FFFEBF;">
您还没有登录，请登录后查看联系方式
</div><br/>
</td>
</tr>
<tr>
<td><input type="button" value="立即登录" class="btn-blue" onclick="Go('{$MODULE[2][linkurl]}{$DT[file_login]}');"/></td>
</tr>
<tr>
<td><input type="button" value="免费注册" class="btn-green" onclick="Go('{$MODULE[2][linkurl]}{$DT[file_register]}');"/></td>
</tr>
</table>
</div>
<br/>
{else}
<br/><br/><br/>
<center><img src="{DT_STATIC}image/load.gif"/></center>
<br/><br/><br/>
{/if}