<div class="bd">
<table cellpadding="10" cellspacing="0" class="tb">
<tr>
<th width="80">图片</th>
<th>商品信息</th>
<th width="120">单价</th>
<th width="100">数量</th>
<th width="120">状态</th>
<th width="160">买家留言</th>
</tr>
{loop $lists $k $v}
<tr align="center">
<td><a href="javascript:_preview('{$v[thumb]}');"><img src="{if $v[thumb]}{$v[thumb]}{else}{DT_STATIC}image/nopic60.png{/if}" width="60" height="60" onerror="this.src=errimg;"/></a></td>
<td align="left" valign="top" class="f_gray lh18"><a href="{$v[linkurl]}" target="_blank" class="t">{$v[title]}</a><br/>{$v[par]}{if isset($v[sku]) && $v[sku]}<br/>仓储货位：{$v[sku][location]} 库存：{$v[sku][amount]}{/if}</td>
<td>{$DT[money_sign]}{$v[price]}</td>
<td>{$v[number]}</td>
<td>{$dstatus[$v[status]]}</td>
<td><textarea style="width:160px;height:40px;color:#666666;">{$v[note]}</textarea></td>
</tr>
{/loop}

<tr>
<td colspan="5" align="right">订单编号：</td>
<td><a href="{$MOD[linkurl]}{if $O[seller]==$_username}trade{else}order{/if}.php?action=update&step=detail&itemid={$O[itemid]}" target="_blank">{$O[itemid]}</a></td>
</tr>
{if isset($O[money])}
<tr>
<td colspan="5" align="right">订单总额：</td>
<td>{$DT[money_sign]}{$O[money]}</td>
</tr>
{/if}
{if $O[fee_name] && $O[fee]}
<tr>
<td colspan="5" align="right">{$O[fee_name]}：</td>
<td>{$DT[money_sign]}{$O[fee]}</td>
</tr>
{/if}
{if isset($O[discount])}
<tr>
<td colspan="5" align="right">优惠金额：</td>
<td><a href="{$MOD[linkurl]}{if $O[seller]==$_username}promo.php?action=coupon&itemid={$O[cid]}{else}coupon.php?action=my&itemid={$O[cid]}{/if}" target="_blank">-{$DT[money_sign]}{$O[discount]}</a></td>
</tr>
{/if}
<tr>
<td colspan="5" align="right">实付金额：</td>
<td class="f_red px14">{$DT[money_sign]}{$O[total]}</td>
</tr>
</table>
</div>