<div class="blue8 line1 "></div>

<h2 class="tac">修理の流れ</h2>

<div class="m ">
    <div class="f1 fs16 tac mt-20">
        店頭修理・郵送修理 を受け付けています。まずは、お電話 か 相談フォーム よりお問い合わせください。</div>
    <div class="f1 fs16 fw-800 tac mt-20">
        事前お問い合わせなしでもご来店いただけますが、部品在庫がない場合もございます。あらかじめご了承ください。</div>
</div>

<div class="m ">
    <div class="clear  pt-30 ">
        <div class="w-380 tac mr-30 fl ovfh ">
            <img src="{DT_SKIN}article/23.png" alt="" class="h100 h-240">
            <div class="ml-10 mt-20 mr-10 h-80">部品の安全性や個人情報管理など、総務省の厳格な基準をクリアしています。</div>
        </div>
        <div class="w-380 tac mr-30 fl ovfh ">
            <img src="{DT_SKIN}article/23.png" alt="" class="h100 h-240">
            <div class="ml-10 mt-20 mr-10 h-80">他店では対応不可の難修理にも対応しており、公的機関からの修理依頼も多数あります。</div>
        </div>
        <div class="w-380 tac mr-10 fl ovfh ">
            <img src="{DT_SKIN}article/23.png" alt="" class="h100 h-240">
            <div class="ml-10 mt-20 mr-10 h-80">他店では対応不可の難修理にも対応。
                ガラケーや古いスマホの修理もお任せください。基板修理にも対応しています。</div>
        </div>
        <div class="w-380 tac mr-30 fl ovfh">
            <img src="{DT_SKIN}article/23.png" alt="" class="h100 h-240">
            <div class="ml-10 mt-20 mr-10 h-80">多くの機種の修理に応えるため、厳しい品質管理基準に基づき豊富な部品在庫を取り揃えています。</div>
        </div>
        <div class="w-380 tac mr-30 fl ovfh">
            <img src="{DT_SKIN}article/23.png" alt="" class="h100 h-240">
            <div class="ml-10 mt-20 mr-10 h-80">画面割れやバッテリー交換など、多くの修理は基本的に即日対応が可能です。</div>
        </div>
        <div class="w-380 tac mr-10 fl ovfh">
            <img src="{DT_SKIN}article/23.png" alt="" class="h100 h-240">
            <div class="ml-10 mt-20 mr-10 h-80">お客様の大切なデータは、そのまま残して修理いたします。</div>
        </div>

    </div>
</div>