
<div class="blue8 line1 mt-60 "></div>
<h2 class="tac">お支払い方法  付款方式</h2>
<div class="m ">
    <div class="f1 fs16 tac mt-20">
        現金以外にも様々な方法でご決済いただけます。
    </div>
</div>
<div class="m ">
    <div class="clear  pt-30 ">
        <div class="w-380 tac mr-30 fl ovfh ">
            <!--			<div class="ml-10 mt-20 mr-10 h-80">部品の安全性や個人情報管理など、総務省の厳格な基準をクリアしています。</div>-->
            <img src="{DT_SKIN}article/24.png" alt="" class="w100 ">

        </div>
        <div class="w-380 tac mr-30 fl ovfh ">
            <!--			<div class="ml-10 mt-20 mr-10 h-80">他店では対応不可の難修理にも対応しており、公的機関からの修理依頼も多数あります。</div>-->
            <img src="{DT_SKIN}article/26.png" alt="" class="w100 ">

        </div>
        <div class="w-380 tac mr-10 fl ovfh ">
            <!--			<div class="ml-10 mt-20 mr-10 h-80">-->
            <!--				ガラケーや古いスマホの修理もお任せください。基板修理にも対応しています。</div>-->
            <img src="{DT_SKIN}article/25.png" alt="" class="w100 ">

        </div>
    </div>
</div>