<style>
{if $css[member_text]}
body,a:link,a:visited,a:active,a.n:link,a.n:visited,a.n:active{color:{$css[member_text]};}
{/if}
{if $css[member_link]}
a.b:link,a.b:visited,a.b:active,a.t:link,a.t:visited,a.t:active,.jt,.f_dblue{color:{$css[member_link]};}
{/if}
{if $css[member_hover]}
a:hover,a.b:hover,a.t:hover,a.n:hover{color:{$css[member_hover]};}
{/if}
{if $css[member_head]}
.nav_1 a:hover,.nav_2 a{color:{$css[member_head]};}
.head,.tab_on,.warn div:hover,.trade_step{background:{$css[member_head]};}
.menu,.nav_2{border-bottom:{$css[member_head]} 2px solid;}
.btn_b,.btn-b,.pages a:hover,.pages strong{background:{$css[member_head]};border:{$css[member_head]} 1px solid;}
{/if}
{if $css[member_head_on]}
.menu_1 {background:{$css[member_head_on]};}
{/if}
{if $css[member_head_ov]}
.menu_2:hover,.btn_b:hover,.btn-b:hover {background:{$css[member_head_ov]};}
{/if}
</style>