
<div class="blue8 line1 mt-60 "></div>
<h2 class="tac">スマートクリアが皆様に選ばれる６つの理由</h2>
<div class="bghui0 mt-20 pt-40 pb-60">
    <div class="m ">
        <div class="df bghui0 aic pb-20">
            <div class="mr-20"><img src="{DT_SKIN}article/14.png" alt="スマートクリアが皆様に選ばれる６つの理由"></div>
            <div class="f1 fs20">
                スマホ修理王は、2010 年にメーカー以外で初めて修理サービスを提供し、全国 24 店舗で年間 50,000 件以上の修理実績を持つ「総務省登録修理事業者」です。</div>
        </div>
        <div class="df  fw pt-30 ">
            <div class="w-300 tac h-200 mb-40">
                <img src="{DT_SKIN}article/15.png" alt="" class="w-80">
                <p class="m0a tac fw-600 fs18 ptb-20">安心の総務省登録修理店</p>
                <div class="ml-10 mr-10">部品の安全性や個人情報管理など、総務省の厳格な基準をクリアしています。</div>
            </div>
            <div class="w-300 tac h-200 mb-40">
                <img src="{DT_SKIN}article/16.png" alt="" class="w-80">
                <p class="m0a tac fw-600 fs18 ptb-20">業界最高峰の技術と実績</p>
                <div class="ml-10 mr-10">他店では対応不可の難修理にも対応しており、公的機関からの修理依頼も多数あります。</div>
            </div>
            <div class="w-300 tac h-200 mb-40">
                <img src="{DT_SKIN}article/17.png" alt="" class="w-80">
                <p class="m0a tac fw-600 fs18 ptb-20">ガラケー・古い端末修理</p>
                <div class="ml-10 mr-10">他店では対応不可の難修理にも対応。
                    ガラケーや古いスマホの修理もお任せください。基板修理にも対応しています。</div>
            </div>
            <div class="w-300 tac h-200 mb-40">
                <img src="{DT_SKIN}article/18.png" alt="" class="w-80">
                <p class="m0a tac fw-600 fs18 ptb-20">高品質・豊富な部品在庫</p>
                <div class="ml-10 mr-10">多くの機種の修理に応えるため、厳しい品質管理基準に基づき豊富な部品在庫を取り揃えています。</div>
            </div>
            <div class="w-300 tac h-200 mb-40">
                <img src="{DT_SKIN}article/19.png" alt="" class="w-80">
                <p class="m0a tac fw-600 fs18 ptb-20">最短 10 分で即日修理</p>
                <div class="ml-10 mr-10">画面割れやバッテリー交換など、多くの修理は基本的に即日対応が可能です。</div>
            </div>
            <div class="w-300 tac h-200 mb-40">
                <img src="{DT_SKIN}article/20.png" alt="" class="w-80">
                <p class="m0a tac fw-600 fs18 ptb-20">データそのまま修理</p>
                <div class="ml-10 mr-10">お客様の大切なデータは、そのまま残して修理いたします。</div>
            </div>
            <div class="w-300 tac h-200 mb-40">
                <img src="{DT_SKIN}article/21.png" alt="" class="w-80">
                <p class="m0a tac fw-600 fs18 ptb-20">３ヶ月保証</p>
                <div class="ml-10 mr-10">修理に使用した部品には、最大３ヶ月の無料保証をお付けしています。</div>
            </div>
            <div class="w-300 tac h-200 mb-40">
                <img src="{DT_SKIN}article/22.png" alt="" class="w-80">
                <p class="m0a tac fw-600 fs18 ptb-20">記載以上の料金は頂きません</p>
                <div class="ml-10 mr-10">サイトに記載している料金は、部品・作業料など全てを含んだ税込み料金です。</div>
            </div>
        </div>
    </div>
</div>
