{template 'header'}
<div id="head-bar">
<div class="head-bar">
<div class="head-bar-back"><a href="{if $back_link}{$back_link}{else}javascript:Dback();" id="back-{$js_pageid}{/if}" data-direction="reverse"><img src="{DM_SKIN}icon-back{$wh}.png" width="24" height="24"/></a></div>
<div class="head-bar-title"><input type="search" name="kw" value="{$kw}" placeholder="{$MOD[name]}搜索" readonly onclick="Go('{DT_MOB}api/search.php?mid={$moduleid}');"/></div>
<div class="head-bar-right"><a href="javascript:Dpop('{$js_pageid}');"><img src="{DM_SKIN}icon-sheet{$wh}.png" width="24" height="24"/></a></div>
</div>
<div class="head-bar-fix" id="load-fix-{$js_pageid}" style="height:0;"></div>
<div class="head-bar-fix" id="head-fix-{$js_pageid}"></div>
</div>
<div class="ui-viewer" id="viewer-{$js_pageid}"></div>

<div class="ui-pop" id="pop-{$js_pageid}">
<i></i>
<div>
{if $could_sign}<a href="{$MOD[mobile]}{rewrite('sign.php?itemid='.$itemid)}">在线报名</a>{/if}
<a href="{DT_MOB}api/share.php?mid={$moduleid}&itemid={$itemid}" data-transition="slideup">分享好友</a>
<a href="{$MOD[mobile]}" data-direction="reverse">{$MOD[name]}首页</a>
<a href="{DT_MOB}{rewrite('channel.php?mid='.$moduleid)}" data-transition="none">{$MOD[name]}分类</a>
<a href="{DT_MOB}channel.php" data-direction="reverse">切换频道</a>
</div>
</div>

<div class="title"><h1>{$title}</h1></div>
<div class="info"><i class="ui-ico-time">{$fromdate}~{$todate}</i>{if $MOD[ip]}<i class="ui-ico-area">IP属地 {ip2area($ip, $MOD[ip])}</i>{/if}{if $MOD[hits]}<i class="ui-ico-hits" id="hits">{$hits}</i>{/if}<i class="ui-ico-area ui-fr">{$city}</i></div>
{if $MOD[show_user] && $username}{template 'userinfo', 'chip'}{/if}
<div class="content">
日期:{$fromdate}~{$todate}<br/>
城市:{$city}<br/>
地址:<a href="{DT_MOB}api/address.php?auth={encrypt($address.'|'.$title, DT_KEY.'MAP')}" rel="external">{$address}</a><br/>
展馆:{$hallname}<br/>
主办:{$sponsor}<br/>
</div>
{if $content}<div class="content" data-content="{$js_pageid}">{$content}</div>{/if}

<div class="tool">
{if $MOD[show_like]}<div class="like" onclick="Dlike({$moduleid}, {$itemid}, 0);">点赞 <b id="like-{$moduleid}-{$itemid}-0">{$likes}</b></div>{/if}
{if $MOD[show_hate]}<div class="hate" onclick="Dhate({$moduleid}, {$itemid}, 0);">反对 <b id="hate-{$moduleid}-{$itemid}-0">{$hates}</b></div>{/if}
{if $MOD[show_report]}<div class="report" onclick="Dreport({$moduleid}, {$itemid}, 0);">举报</div>{/if}
{if $MOD[show_favorite]}<div class="favorite" onclick="Dfavor({$moduleid}, {$itemid});">收藏 <b>{$favorites}</b></div>{/if}
{if $MOD[fee_award]}<div class="award" onclick="Go('{$MODULE[2][mobile]}award.php?mid={$moduleid}&itemid={$itemid}');">打赏 <b>{$awards}</b></div>{/if}
{if $could_comment}<div class="comment" onclick="Go('{$EXT[comment_mob]}{rewrite('index.php?mid='.$moduleid.'&itemid='.$itemid)}');">评论 <b>{$comments}</b></div>{/if}
{if $MOD[show_share]}<div class="share" onclick="Go('{DT_MOB}api/share.php?mid={$moduleid}&itemid={$itemid}');">分享 <b>{$shares}</b></div>{/if}
</div>

<div class="ui-head"><i></i><b>联系方式</b></div>
{if $user_status == 3}
<div class="content" data-contact="{$js_pageid}">
姓名:{$truename}<br/>
{if $telephone}电话:<a href="tel:{$telephone}">{$telephone}</a><br/>{/if}
{if $mobile}手机:<a href="tel:{$mobile}">{$mobile}</a><br/>{/if}
{if $fax}传真:{$fax}<br/>{/if}
{if $email}邮件:<a href="mailto:{$email}">{$email}</a><br/>{/if}
{if $qq}QQ:<a href="http://wpa.qq.com/msgrd?v=3&uin={$qq}&site=qq&menu=yes" target="_blank" rel="external">{$qq}</a><br/>{/if}
{if $wx && $DT[im_wx]}微信:<a href="{DT_MOB}api/wx.php?wid={$wx}&username={$username}" target="_blank" rel="external">{$wx}</a><br/>{/if}
{if $addr}地址:{$addr}<br/>{/if}
</div>
{else}
<div class="content" data-contact="{$js_pageid}" id="contact">{template 'content', 'chip'}</div>
{/if}
<div id="list-{$js_pageid}" class="main">
	<div class="blank-10"></div>
	{if $city}
	<!--{tag("moduleid=$moduleid&condition=status=3 and city='$city'&areaid=$cityid&order=totime desc&pagesize=10&itemid=$itemid&template=list-exhibit")}-->
	{else}
	<!--{tag("moduleid=$moduleid&condition=status=3&catid=$catid&areaid=$cityid&order=totime desc&pagesize=10&itemid=$itemid&template=list-exhibit")}-->
	{/if}
</div>
{if $could_sign}
<div class="foot-bar-fix main"></div>
<div class="foot-btn">
<ul>
<li></li>
<li><a href="{$MOD[mobile]}{rewrite('sign.php?itemid='.$itemid)}"><div class="btn-blue">在线报名</div></a></li>
<li></li>
</ul>
</div>
{/if}
{template 'footer'}