label {font-size:12px;cursor:pointer;margin:0;}
label i {font-size:12px;font-style:normal;display:inline-block;width:44px;height:44px;background:url('icon-check.png') no-repeat center center;background-size:20px 20px;}
label input[type="checkbox"] {display:none;}
label input[type="checkbox"]:checked + i {background:url('icon-checked.png') no-repeat center center;background-size:20px 20px;}
.list-seller {background:#FFFFFF;}
.list-seller section {height:44px;overflow:hidden;}
.list-seller div {height:44px;line-height:44px;overflow:hidden;font-size:14px;}
.list-seller span {font-size:12px;color:#F23030;}
.list-seller s {display:none;}
.list-seller .c1 {width:44px;height:44px;}
.list-seller .c3 {width:56px;}

.list-goods {background:#FFFFFF;}
.list-goods section {height:44px;overflow:hidden;}
.list-goods p {margin:0 10px 0 0;max-height:40px;line-height:18px;overflow:hidden;font-size:12px;}
.list-goods b {display:block;height:20px;line-height:20px;overflow:hidden;font-size:12px;color:#999999;font-weight:normal;}
.list-goods div {height:22px;line-height:22px;overflow:hidden;font-size:12px;}
.list-goods em {font-size:12px;color:#F23030;font-style:normal;}
.list-goods s {display:none;}
.list-goods .c1 {width:44px;}
.list-goods .c2 {width:80px;height:100px;}

.list-goods .a1 {width:20px;text-align:center;font-size:20px;color:#666666;}
.list-goods .a2 {width:60px;text-align:center;}
.list-goods .a2 input {box-sizing:border-box;text-align:center;width:40px;height:18px;line-height:18px;padding:0;margin:0;border:#CCCCCC 1px solid;font-size:12px;border-radius:0;-webkit-appearance:none;}
.list-goods .a3 {width:20px;text-align:center;font-size:20px;padding-right:10px;color:#666666;}

.list-pars {height:44px;line-height:44px;overflow:hidden;background:#FFFFFF;}
.list-pars select {font-size:12px;border:#CCCCCC 1px solid;border-radius:0;margin:0 12px;}
.list-pars span {font-size:12px;color:#666666;}
.list-pars em {float:right;font-size:12px;font-style:normal;padding-right:16px;}
.pars-tips {background:#FFFFFF;padding:16px;font-size:12px;color:#999999;}
.pars-note {box-sizing:border-box;border:none;font-size:14px;padding:0 12px;width:100%;color:#666666;}

.list-coupon {background:#FFFFFF;padding-right:16px;height:44px;overflow:hidden;text-align:right;}
.list-coupon select {font-size:12px;border:#CCCCCC 1px solid;border-radius:0;margin-top:12px;}

.cart-foot {width:100%;height:48px;overflow:hidden;background:#F8F8F8;position:fixed;z-index:9;left:0;bottom:0;-webkit-user-select:none;}
.cart-foot .c1 {width:44px;}
.cart-foot .c1 section {height:44px;overflow:hidden;margin-top:2px;}
.cart-foot .c2 b {color:#F23030;}
.cart-foot .c3 {width:80px;height:48px;background:#FF6600;}
.cart-foot .c3 input {width:80px;height:48px;line-height:48px;background:#FF6600;color:#FFFFFF;font-size:18px;border:none;padding:0;margin:0;-webkit-appearance:none;}
.cart-foot-fix {height:48px;clear:both;}

.my-addr {padding:0 0 0 16px;max-height:40px;overflow:hidden;margin:0 16px 10px 0;scrollbar-width:thin;}
.my-addr li {height:40px;line-height:40px;overflow:hidden;font-size:12px;color:#666666;background:url('ico-addr.png') no-repeat 6px center;background-size:16px 16px;padding:0 6px 0 24px;cursor:pointer;}
.my-addr .on {background:#F6F6F6 url('ico-addr-on.png') no-repeat 6px center;background-size:16px 16px;}
.my-addr b {display:inline-block;padding:0 10px 0 0;font-size:14px;}
.my-addr s {float:right;display:inline-block;height:18px;line-height:18px;padding:0 10px;background:#999999;color:#FFFFFF;border-radius:10px;margin:10px 0 0 0;text-decoration:none;}
.my-addr-more {height:24px;line-height:24px;color:#666666;background:url('../../image/ico-down.png') no-repeat 96px center;padding:0 24px 0 44px;cursor:pointer;font-size:12px;}
.my-addr-fold {height:24px;line-height:24px;color:#666666;background:url('../../image/ico-fold.png') no-repeat 96px center;padding:0 24px 0 44px;cursor:pointer;font-size:12px;display:none;}

.cart-msg {padding:160px 48px;text-align:center;color:#999999;background:url('bg-cart.png') no-repeat center 48px;background-size:64px 64px;}